homeclass-header {
  display: block;
  height: 160px;
  background: rgba(73, 192, 187, 0.80);
}
.homeclass-header__wrapper {
  height: 100%;
  width: 100%;
}

.homeclass-header__logo {
  display: block;
  background-size: cover;
  background-image: url('../assets/images/generic-logo.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 150px;
  margin: 0 auto 50px auto;
}
