@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Thin.eot');
    src: local('Roboto Thin'), local('Roboto-Thin'), url('../../fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-Thin.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-Thin.woff') format('woff'), url('../../fonts/Roboto/Roboto-Thin.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-Thin.svg#Roboto') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../../fonts/Roboto/Roboto-Thin.eot');
    src: local('Roboto Thin'), local('Roboto-Thin'), url('../../fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-Thin.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-Thin.woff') format('woff'), url('../../fonts/Roboto/Roboto-Thin.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-Thin.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-ThinItalic.eot');
    src: local('Roboto ThinItalic'), local('Roboto-ThinItalic'), url('../../fonts/Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-ThinItalic.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-ThinItalic.woff') format('woff'), url('../../fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-ThinItalic.svg#Roboto') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-ThinItalic';
    src: url('../../fonts/Roboto/Roboto-ThinItalic.eot');
    src: local('Roboto ThinItalic'), local('Roboto-ThinItalic'), url('../../fonts/Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-ThinItalic.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-ThinItalic.woff') format('woff'), url('../../fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-ThinItalic.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'), url('../../fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-Light.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-Light.woff') format('woff'), url('../../fonts/Roboto/Roboto-Light.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-Light.svg#Roboto') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../../fonts/Roboto/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'), url('../../fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-Light.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-Light.woff') format('woff'), url('../../fonts/Roboto/Roboto-Light.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-Light.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-LightItalic.eot');
    src: local('Roboto LightItalic'), local('Roboto-LightItalic'), url('../../fonts/Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-LightItalic.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-LightItalic.woff') format('woff'), url('../../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-LightItalic.svg#Roboto') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('../../fonts/Roboto/Roboto-LightItalic.eot');
    src: local('Roboto LightItalic'), local('Roboto-LightItalic'), url('../../fonts/Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-LightItalic.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-LightItalic.woff') format('woff'), url('../../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-LightItalic.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Regular.eot');
    src: local('Roboto Regular'), local('Roboto-Regular'), url('../../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-Regular.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-Regular.woff') format('woff'), url('../../fonts/Roboto/Roboto-Regular.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-Regular.svg#Roboto') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto/Roboto-Regular.eot');
    src: local('Roboto Regular'), local('Roboto-Regular'), url('../../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-Regular.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-Regular.woff') format('woff'), url('../../fonts/Roboto/Roboto-Regular.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-Regular.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-RegularItalic.eot');
    src: local('Roboto RegularItalic'), local('Roboto-RegularItalic'), url('../../fonts/Roboto/Roboto-RegularItalic.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-RegularItalic.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-RegularItalic.woff') format('woff'), url('../../fonts/Roboto/Roboto-RegularItalic.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-RegularItalic.svg#Roboto') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-RegularItalic';
    src: url('../../fonts/Roboto/Roboto-RegularItalic.eot');
    src: local('Roboto RegularItalic'), local('Roboto-RegularItalic'), url('../../fonts/Roboto/Roboto-RegularItalic.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-RegularItalic.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-RegularItalic.woff') format('woff'), url('../../fonts/Roboto/Roboto-RegularItalic.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-RegularItalic.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-Medium.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-Medium.woff') format('woff'), url('../../fonts/Roboto/Roboto-Medium.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-Medium.svg#Roboto') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../fonts/Roboto/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-Medium.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-Medium.woff') format('woff'), url('../../fonts/Roboto/Roboto-Medium.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-Medium.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-MediumItalic.eot');
    src: local('Roboto MediumItalic'), local('Roboto-MediumItalic'), url('../../fonts/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-MediumItalic.woff') format('woff'), url('../../fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-MediumItalic.svg#Roboto') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('../../fonts/Roboto/Roboto-MediumItalic.eot');
    src: local('Roboto MediumItalic'), local('Roboto-MediumItalic'), url('../../fonts/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-MediumItalic.woff') format('woff'), url('../../fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-MediumItalic.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-Bold.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-Bold.woff') format('woff'), url('../../fonts/Roboto/Roboto-Bold.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-Bold.svg#Roboto') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../fonts/Roboto/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-Bold.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-Bold.woff') format('woff'), url('../../fonts/Roboto/Roboto-Bold.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-Bold.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-BoldItalic.eot');
    src: local('Roboto BoldItalic'), local('Roboto-BoldItalic'), url('../../fonts/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-BoldItalic.woff') format('woff'), url('../../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-BoldItalic.svg#Roboto') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('../../fonts/Roboto/Roboto-BoldItalic.eot');
    src: local('Roboto BoldItalic'), local('Roboto-BoldItalic'), url('../../fonts/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-BoldItalic.woff') format('woff'), url('../../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-BoldItalic.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'), url('../../fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-Black.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-Black.woff') format('woff'), url('../../fonts/Roboto/Roboto-Black.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-Black.svg#Roboto') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('../../fonts/Roboto/Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'), url('../../fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-Black.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-Black.woff') format('woff'), url('../../fonts/Roboto/Roboto-Black.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-Black.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-BlackItalic.eot');
    src: local('Roboto BlackItalic'), local('Roboto-BlackItalic'), url('../../fonts/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-BlackItalic.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-BlackItalic.woff') format('woff'), url('../../fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-BlackItalic.svg#Roboto') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('../../fonts/Roboto/Roboto-BlackItalic.eot');
    src: local('Roboto BlackItalic'), local('Roboto-BlackItalic'), url('../../fonts/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-BlackItalic.woff2') format('woff2'), url('../../fonts/Roboto/Roboto-BlackItalic.woff') format('woff'), url('../../fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-BlackItalic.svg#Roboto') format('svg');
}

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
}
tags-input{display:block}tags-input *,tags-input :after,tags-input :before{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}tags-input .host{position:relative;margin-top:5px;margin-bottom:5px;height:100%}tags-input .host:active{outline:0}tags-input .tags{-moz-appearance:textfield;-webkit-appearance:textfield;padding:1px;overflow:hidden;word-wrap:break-word;cursor:text;background-color:#fff;border:1px solid #a9a9a9;box-shadow:1px 1px 1px 0 #d3d3d3 inset;height:100%}tags-input .tags.focused{outline:0;-webkit-box-shadow:0 0 3px 1px rgba(5,139,242,.6);-moz-box-shadow:0 0 3px 1px rgba(5,139,242,.6);box-shadow:0 0 3px 1px rgba(5,139,242,.6)}tags-input .tags .tag-list{margin:0;padding:0;list-style-type:none}tags-input .tags .tag-item{margin:2px;padding:0 5px;display:inline-block;float:left;font:14px "Helvetica Neue",Helvetica,Arial,sans-serif;height:26px;line-height:25px;border:1px solid #acacac;border-radius:3px;background:-webkit-linear-gradient(top,#f0f9ff 0,#cbebff 47%,#a1dbff 100%);background:linear-gradient(to bottom,#f0f9ff 0,#cbebff 47%,#a1dbff 100%)}tags-input .tags .tag-item.selected{background:-webkit-linear-gradient(top,#febbbb 0,#fe9090 45%,#ff5c5c 100%);background:linear-gradient(to bottom,#febbbb 0,#fe9090 45%,#ff5c5c 100%)}tags-input .tags .tag-item .remove-button{margin:0 0 0 5px;padding:0;border:none;background:0 0;cursor:pointer;vertical-align:middle;font:700 16px Arial,sans-serif;color:#585858}tags-input .tags .input.invalid-tag,tags-input .tags .tag-item .remove-button:active{color:red}tags-input .tags .input{border:0;outline:0;margin:2px;padding:0 0 0 5px;float:left;height:26px;font:14px "Helvetica Neue",Helvetica,Arial,sans-serif}tags-input .tags .input::-ms-clear{display:none}tags-input.ng-invalid .tags{-webkit-box-shadow:0 0 3px 1px rgba(255,0,0,.6);-moz-box-shadow:0 0 3px 1px rgba(255,0,0,.6);box-shadow:0 0 3px 1px rgba(255,0,0,.6)}tags-input[disabled] .host:focus{outline:0}tags-input[disabled] .tags{background-color:#eee;cursor:default}tags-input[disabled] .tags .tag-item{opacity:.65;background:-webkit-linear-gradient(top,#f0f9ff 0,rgba(203,235,255,.75) 47%,rgba(161,219,255,.62) 100%);background:linear-gradient(to bottom,#f0f9ff 0,rgba(203,235,255,.75) 47%,rgba(161,219,255,.62) 100%)}tags-input[disabled] .tags .tag-item .remove-button{cursor:default}tags-input[disabled] .tags .tag-item .remove-button:active{color:#585858}tags-input[disabled] .tags .input{background-color:#eee;cursor:default}tags-input .autocomplete{margin-top:5px;position:absolute;padding:5px 0;z-index:999;width:100%;background-color:#fff;border:1px solid rgba(0,0,0,.2);-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2)}tags-input .autocomplete .suggestion-list{margin:0;padding:0;list-style-type:none;max-height:280px;overflow-y:auto;position:relative}tags-input .autocomplete .suggestion-item{padding:5px 10px;cursor:pointer;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font:16px "Helvetica Neue",Helvetica,Arial,sans-serif;color:#000;background-color:#fff}tags-input .autocomplete .suggestion-item.selected,tags-input .autocomplete .suggestion-item.selected em{color:#fff;background-color:#0097cf}tags-input .autocomplete .suggestion-item em{font:normal 700 16px "Helvetica Neue",Helvetica,Arial,sans-serif;color:#000;background-color:#fff}
.ta-hidden-input {
    width: 1px;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -10000px;
    left: -10000px;
    opacity: 0;
    overflow: hidden;
}

/* add generic styling for the editor */
.ta-root.focussed > .ta-scroll-window.form-control {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.ta-editor.ta-html, .ta-scroll-window.form-control {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.ta-scroll-window.form-control {
    position: relative;
    padding: 0;
}

.ta-scroll-window > .ta-bind {
    height: auto;
    min-height: 300px;
    padding: 6px 12px;
}

.ta-editor:focus {
    user-select: text;
}

/* add the styling for the awesomness of the resizer */
.ta-resizer-handle-overlay {
    z-index: 100;
    position: absolute;
    display: none;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-info {
    position: absolute;
    bottom: 16px;
    right: 16px;
    border: 1px solid black;
    background-color: #FFF;
    padding: 0 4px;
    opacity: 0.7;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-background {
    position: absolute;
    bottom: 5px;
    right: 5px;
    left: 5px;
    top: 5px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.2);
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner {
    width: 10px;
    height: 10px;
    position: absolute;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-tl{
    top: 0;
    left: 0;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-tr{
    top: 0;
    right: 0;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-bl{
    bottom: 0;
    left: 0;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-br{
    bottom: 0;
    right: 0;
    border: 1px solid black;
    cursor: se-resize;
    background-color: white;
}

/* copy the popover code from bootstrap so this will work even without it */
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.popover.top {
    margin-top: -10px;
}
.popover.bottom {
    margin-top: 10px;
}
.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}
.popover-content {
    padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.popover > .arrow {
    border-width: 11px;
}
.popover > .arrow:after {
    content: "";
    border-width: 10px;
}
.popover.top > .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, .25);
    border-bottom-width: 0;
}
.popover.top > .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-top-color: #fff;
    border-bottom-width: 0;
}
.popover.bottom > .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff;
}
