.add__form-wrapper {
  background: #fff;
  padding: 130px 30px 0 30px;
}

.add__form {
  background: #EDF2F5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 29px 25px;

  .homeclass-form__input {
    width: 100%
  }

  .homeclass-form__label {
    color: #89A3AE;
  }
}

.add__form-button {
  margin-top: 35px;
  margin-bottom: 35px;
  width: 100%;
}

.add__form-title {
  text-align: center;
  color: #89A3AE;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 43px;

  strong {
    display: block;
    font-weight: 700;
  }
}
