.calendar__box {
  margin-left: 15px;
  margin-right: 15px;
}

.calendar__box-header {
  height: 68px;
  background: #EDF2F5;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 30px;
}

.calendar__box-schedule {
  border: 1px solid #FCAE53;
  color: #FCAE53;
  font-size: 1rem;
  height: 30px;
  background: transparent;
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  float: right;
  margin-right: 10px;
}

.calendar__box-change {
  display: flex;
  align-items: center;
  color: #576C74;
  text-transform: uppercase;
  font-size: 0.929rem;
  position: relative;
  text-align: center;
  justify-content: center;
}
.calendar__box-change2 {
  display: flex;
  align-items: center;
  color: #576C74;
  text-transform: uppercase;
  font-size: 0.929rem;
  position: relative;
  text-align: center;
  justify-content: center;
  min-width: 200px;
}
.calendar__box-previous,
.calendar__box-next {
  border: 0;
  background: transparent;
  font-size: 1.5rem;
  color: #89A3AE;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

.calendar__box-next {
  padding-left: 35px;
  right: 0;
}

.calendar__box-previous {
  padding-right: 35px;
  left: 0px;
}

.calendar__box-month {
  padding-right: 5px;
}

.calendar__box-right,
.calendar__box-change {
  flex: 1;
}

.calendar__box-right {
  width: 137px;
  min-width: 137px;
  max-width: 137px;
}

.calendar__box-content {
  padding: 21px 30px 26px;
  display: flex;
  flex-direction: column;
}

.calendar__box-days {
  color: #89A3AE;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  padding: 1.1px 0;
}

.calendar__days-header {
  color: #FD9011;
  font-size: 1.071rem;
  padding-bottom: 15px;
}

.calendar__box-days .calendar__box-day,
.calendar__days-header span {
  flex: 1;
  text-align: center;
}

.calendar__box-days .calendar__box-day:last-child {
  font-weight: 300;
}

.calendar__box-day span {
  height: 28px;
  width: 28px;
  display: inline-block;
  line-height: 28px;
  border-radius: 50%;
}

.calendar__box-day span.today {
  background: #FD9011;
  color: #fff;
  font-weight: 500;
}

.calendar__box-day span.scheduled {
  background: #EDF2F5;
  font-weight: 500;
}

.calendar__box-day span.previous,
.calendar__box-day span.next {
  opacity: 0.4;
}

.calendar__box-preview {
  margin: 0;
}

.calendar__bottom {
  margin-top: 15px;
}

.calendar__bottom-schedule, .calendar__bottom-remains {
  height: 55px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;

  p {
    vertical-align: middle;
    line-height: 55px;
  }
  span {
    font-weight: bold;
  }
  strong {
    line-height: 27px;
  }
  select {
    margin-top: 15px;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 1.4rem;
  }
}

.calendar__bottom-schedule {
  width: 70%;
  background: #C5DF58;
  float: left;
  font-weight: 400;
}

.calendar__bottom-remains {
  float: right;
  width: 30%;
  background: #9DC10E;
  font-size: x-large;
  position: relative;

}

.calendar__bottom-details {
  background: #FFFFFF;
  width: 100%;
  height: 90px;
  padding: 15px 50px;
}

.calendar__bottom-details-img {
  width: 30%;
  float: left;
  text-align: center;
  img {
    width: 65px;
    height: 61px;
    border-radius: 30px;
  }
}

.calendar__bottom-details-text {
  float: right;
  width: calc(70% - 10px);
  margin-top: 15px;
  text-align: left;
  color: #576C74;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 10px;
  span {
    color: #89A3AE;
    font-weight: 300;
  }
}

.calendar__bottom-text-title {
  text-transform: uppercase;
  color: #576C74;
  font-size: 1rem;
  font-weight: 700;
}
.calendar__add-calendar {
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.calendar__add-calendar-link {
  display: flex;
  align-items: center;

  a {
    vertical-align: middle;
    color: #3782F7;
    font-size: 0.857rem;
    font-weight: 300;
    padding-right: 12px;
  }
}

.calendar__add-calendar-image {
  text-align: center;
  float: left;
  width: 40px;
  height: 30px;
}

.calendar__frac {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 26px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  background: #fff;
}

.calendar__top-number {
  position: absolute;
  top: 9px;
  left: 30%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  font-weight: 700;
  font-size: 1.286rem;
  display: block;
  width: 40px;
  text-align: right;
}

.calendar__bottom-number {
  position: absolute;
  bottom: 9px;
  left: 70%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  font-weight: 300 !important;
  font-size: 10px;
  display: block;
  width: 50px;
  text-align: left;
}
