.change__box {
  padding: 33px 36px 43px 35px;
  margin-bottom: 10px;
}

.change__title {
  font-size: 14px;
  color: #89A3AE;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 26px;
}

.change__details {
  padding: 20px 34px;
}

.change__details-title {
  color: #576C74;
  text-transform: uppercase;
  font-size: 0.929rem;
  margin-bottom: 18px;
}

.change__details-textarea {
  min-height: 150px;
  width: 100%;
  border: 1px solid #D8E4E8;
  padding: 13px 17px;
  color: #576C74;
  font-size: 0.857rem;
  font-weight: 300;
  margin-bottom: 17px;
}

.change__button {
  width: 100%;
}

.change__padding-bottom {
  padding-bottom: 31px !important;
}
