.control__box {
  padding: 25px 28px 42px 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 18px;
}

.control__select {
  width: 85%;
  margin: 0 auto 13px;
}

.control__checkmark {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #B4D23A;
  height: 100%;
  color: #fff;
  font-size: 3rem;
  padding-left: 15px;
  padding-right: 15px;
}

.control__select.selected select {
  border-color: #B4D23A !important;
  color: #B4D23A !important;
}

.control__select.selected .homeclass-form__select-chevron {
  display: none;
}

.control__select.selected .control__checkmark {
  display: block;
}

.homeclass-control_process {
  width: 100%;
  background: #FFFFFF;
}

.homeclass-control_process-details {
  border-top: 1px #E7EFF1 solid;
  height: 75px;
  padding: 20px 50px;
  .process-details-plan {
    text-transform: uppercase;
    background-color: #B4D23A;
    color: #fff;
    text-align: center;
    width: 50%;
    height: 35px;
    vertical-align: middle;
    line-height: 35px;
    border-radius: 5px;
    float: left;
  }
  .process-details-plan-detail {
    width: 60px;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    float: right;
    color: #9DC10E;
    cursor: pointer;
    .icon {
      font-size: 1.7rem;
      vertical-align: middle;
      &:before {
        line-height: 0.714rem;
      }
    }
  }
}

.homeclass-control_process-symbology {
  padding: 15px 0 23px 0;
  color: #89A3AE;
  display: flex;
  justify-content: center;
}

.homeclass-control_process-circle {
  height: 180px;
}

.homeclass-control_list {
  h5 {
    color: #89A3AE;
    text-transform: uppercase;
    text-align: center;
    margin: 25px 0;
  }
}
.homeclass-control_list-classes.ready {
  font-weight: 300;
  color: #89A3AE;

  .list-classes-img svg {
    fill: #89A3AE;
    opacity: 0.5;
  }
}
.homeclass-control_list-classes.current {
  font-weight: bold;
}
.strike {
  display:block;
  position:relative;
}

.homeclass-control_list-classes {
  text-align: right;
  width: 70%;
  margin: 0 auto;
  height: 50px;
  color: #576C74;
  position: relative;
  font-weight: 300;
  .list-classes-phase {
    width: 30%;
    float: left;
    text-align: left;
    padding-left: 5px;
    font-size: 1rem;
  }
  .list-classes-date {
    width: 50%;
    float: right;
    font-size: 0.857rem;
  }
  .list-classes-line {
    width: 100%;
    position: absolute;
    height: 1px;
    background: #FB9B2B;
    top: 20%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}

.homeclass-control_list h5 {
  margin-top: 0;
  padding-top: 40px;
  text-transform: uppercase;
  font-size: 1rem;
  color: #576C74;
}

.list-classes-img {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 5px;

  svg {
    fill: #B4D23A;
  }
}


.process-symbology-bar {
  height: 14px;
  width: 28px;
  background-image: linear-gradient(-270deg, #FFB966 0%, #FD9012 100%);
  vertical-align: middle;
  margin-right: 5px;
}

.control__center > div {
  display: inline-block;
}

.control__center {
  color: #576C74;
  font-size: 0.786rem;
}

.control__progress-bar {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 25px;
}

.control__circle-background {
  width: 222px;
  height: 222px;
  border-radius: 50%;
  background: #EDF2F5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.control__color-absolute {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
}

.control__circle-percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  color: #576C74;
  font-weight: 700;
  font-size: 3.214rem;
}
