.dashboard__block {
  height: 168px;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.dashboard__left {
  background: #C5DF58;
  width: 100px;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}

.dashboard__icon {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}

.dashboard__right {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  color: #fff;
  padding-left: 100px;
  position: relative;
}

.dashboard__block-title {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 125px;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.714rem;
  font-weight: 700;
  width: 150px;
  line-height: 1.8rem;
}

.dashboard__blocks {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(157, 157, 157, 0.5);
}

.dashboard__blocks .dashboard__block:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dashboard__blocks .dashboard__block:first-child .dashboard__left {
  border-top-left-radius: 5px;
}

.dashboard__blocks .dashboard__block:first-child .dashboard__right {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dashboard__blocks .dashboard__block:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dashboard__blocks .dashboard__block:last-child .dashboard__left {
  border-bottom-left-radius: 5px;
}

.dashboard__blocks .dashboard__block:last-child .dashboard__right {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dashboard__footer {
  color: #89A3AE;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.786rem;
  font-weight: 600;
  text-align: center;
  display: block;
  margin-top: 36px;
}
.header-dash-profe {
  background-color: #fba23b !important;
  color: #FFF !important;
}
.dash-credito {
  font-size: 40px !important;
  text-align: center !important;
}