.evaluation__box {
  padding: 25px 28px 42px 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 18px;
}

.evaluation__title {
  font-size: 14px;
  color: #89A3AE;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 26px;
}

.evaluation__poll {
  width: 100%;
  height: 100%;
  background: #FFFFFF;

}
.evaluation__poll-box.selected {
  border-left: 5px #FCAE53 solid;

  & .evaluation__poll-box-title {
    h5 {
      color: #576C74;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  & .evaluation__poll-box-options {
    color: #89A3AE;
  }
}

.evaluation__poll-box {
  padding: 20px 25px;
  & .evaluation__poll-box-title {
    h5 {
      color: #89A3AE;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
  & .evaluation__poll-box-options {
    color: #B0C9D3;
  }
  border-bottom: 1px #B0C9D3 solid;
}


.evaluation__checkbox {
  display: inline-block !important;
  border: 0 !important;
  padding-left: 40px !important;
  color: #576C74 !important;
  text-transform: uppercase !important;
  font-weight: 300;
  font-size: 0.929rem !important;

  .checkbox-icon {
    width: 28px !important;
    height: 28px !important;
  }

  .checkbox-square input:before,
  .checkbox-square .checkbox-icon:before,
  .checkbox input:before,
  .checkbox-icon:before {
    border-radius: 5px;
    border-color: #ddd;
    width: 72%;
    height: 72%;
    margin-top: 14%;
    margin-left: 14%;
    border-width: 2px;
  }

  .checkbox input:checked:before,
  .checkbox input:checked + .checkbox-icon:before {
    background: transparent;
    border-color: #ddd;
  }


  .checkbox input:after,
  .checkbox-icon:after,
  .checkbox-square input:after,
  .checkbox-square .checkbox-icon:after {
    top: -2%;
    left: 32%;
    width: 20px;
    height: 10px;
    border-color: #FD9011;
    border-width: 2px;
  }
}

.evaluation__checkbox.checked {
  font-weight: 600 !important;
}


.evaluation__checkbox .checkbox {
  left: 0 !important;
  padding-left: 0 !important;
}


