.history__box {
  padding: 33px 36px 43px 35px;
  border-radius: 5px 5px 0 0 !important;
}
.history-teacher__box {
  padding: 33px 36px 20px 35px;
  border-radius: 5px 5px 0 0 !important;
}
.history__bottom-box {
  padding: 33px 36px 43px 35px;
  border-radius: 0 0 5px 5px !important;
  background-color: #FCAE53 !important;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: bold;
}

.homeclass-history__list {
  margin-bottom: 30px;
}

.homeclass-history__list-plan {
  text-transform: uppercase;
  background-color: #B4D23A;
  color: #fff;
  text-align: center;
  width: 50%;
  height: 35px;
  vertical-align: middle;
  line-height: 35px;
  border-radius: 5px;
  float: left;
}

.homeclass-history__list-detail {
  width: 30%;
  height: 35px;
  vertical-align: middle;
  line-height: 35px;
  float: right;
  color: #9DC10E;
  font-weight: bold;
  cursor: pointer;
  .icon {
    font-size: 1.7rem;
    vertical-align: middle;
    &:before {
      line-height: 0.714rem;
    }
  }
  &.active {
    color: #C4D4DA;
  }
}

.homeclass-history__list-bottom-detail {
  border: 0.01rem #EDF2F5 solid;
  background: #EDF2F5
}

.homeclass-history__list-bottom {
  margin-top: 15px;
  margin-bottom: 30px;
  h4 {
    text-transform: uppercase;
    color: #576C74;
  }
}

.homeclass-history__detail-content {
  padding: 20px;
  transition: 0.09s all linear;
}

.homeclass-history__detail-rating {
  display: block;
  padding-top: 4px;
  margin-left: -3px;
  .rating {
    display: inline-block;
    vertical-align: middle;
    li {
      display: inline-block;
      color: #FD9011;
      border-color: #FD9011;
      font-size: 1.3rem;
      padding-left: 2px;
    }
  }
}

.homeclass-history__detail-date {
  border-top: 1px #B0C9D3 solid;
  border-bottom: 1px #B0C9D3 solid;
  padding: 10px 0;
  margin-bottom: 10px;
}

.homeclass-history__detail-teacher-percentage {
  font-size: 0.714rem;
  vertical-align: middle;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 15px;
}

.homeclass-history__detail-teacher {
  margin-bottom: 15px;
}

.homeclass-history__detail-pay {
  margin: 15px 0 0 0;
}

.homeclass-history__detail-status, .homeclass-history__detail-teacher, .homeclass-history__detail-pay {
  color: #576C74;
}

.homeclass-history__detail-sub {
  font-weight: lighter;
}
.homeclass-history__bottom {
  color: #89A3AE;
  text-align: center;
  strong {
    color: #576C74;
  }
}
