/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light: #fff !default;
$stable: #f8f8f8 !default;
$positive: #FCAE53 !default;
$calm: #43cee6 !default;
$balanced: #66cc33 !default;
$energized: #f0b840 !default;
$assertive: #ef4e3a !default;
$royal: #8a6de9 !default;
$dark: #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";


html, body {
  font-size: 14px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
input,
button,
select,
textarea {
  font-family: 'Roboto', sans-serif;
}

.homeclass__checkbox-group {
  width: 90%;
  height: 20px;
  margin: 15px auto;
  color: #89A3AE;

  & label {
    margin-left: 10px;
  }
}

.homeclass__input-group {
  width: 90%;
  height: 45px;
  margin: 15px auto;
  position: relative;
  padding-right: 50px;

  & input, select {
    margin: 0;
    width: 100%;
  }

  & button {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    float: right;
    border-radius: 5px;
    background: #EDF2F5;
    font-size: 2.2rem;
    line-height: 45px;
    color: #C4D4DA;
    border: 0;
  }
}

.homeclass-form__select {
  height: 45px !important;
  display: table;
  width: 100%;
  color: #89A3AE !important;
  background: #fff;
  border: 1px solid #C4D4DA !important;
  border-radius: 0;
  padding-left: 15px;
  padding-right: 10px;
}

.homeclass-form__select-group {
  position: relative;

  & select {
    padding-right: 18px;
  }

  & .homeclass-form__select-chevron {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    color: #89A3AE;
    font-size: 1.8rem;
  }
}

.homeclass-form__file-group {
  margin: 15px auto !important;
  border: 1px solid #C4D4DA !important;
  color: #89A3AE !important;
  height: 45px !important;
  position: relative;
  padding-left: 15px;
  padding-right: 25px;
}

.homeclass-form__input-file {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  top: 0;
  left: 0;
}

.homeclass-form__file-text {
  line-height: 45px;
  color: #89A3AE;
}

.homeclass-form__file-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  color: #89A3AE;
  font-size: 2rem;
}

.homeclass-form__input {
  margin: 15px auto !important;
  border: 1px solid #C4D4DA !important;
  width: 90%;
  color: #89A3AE !important;
  height: 45px !important;
  padding-left: 15px !important;
  padding-right: 10px;
}
.homeclass-form__input2 {
  margin: 15px auto !important;
  width: 90%;
  color: #89A3AE !important;
  height: 45px !important;
  padding-left: 15px !important;
  padding-right: 10px;
}

.homeclass-form__check {
  border: 0 !important;
  margin: 0;
  color: #89A3AE;
  font-size: 1rem;
  padding-left: 50px;
}

::-webkit-input-placeholder {
  color: #89A3AE !important;
}

:-moz-placeholder {
  color: #89A3AE !important;
}

::-moz-placeholder {
  color: #89A3AE !important;
}

:-ms-input-placeholder {
  color: #89A3AE !important;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.bar.bar-homeclass {
  background: #49C0BB;
  border: none;
  color: #fff;
  z-index: 1000000;
}

.bar.bar-homeclass .title {
  color: #fff;
}

.bar {
  height: 99px;
}

.bar .title {
  line-height: 55px !important;
  height: 54px;
}


.has-header {
  top: 55px;
}

.homeclass__nav-view {
  z-index: 10;
  background: transparent !important;
}


.homeclass__nav-view > ion-view {
  background: transparent;
}

.homeclass__box {
  background: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(157,157,157,0.50);
  border-radius: 5px;
}

button.homeclass__orange-full {
  background: #FCAE53;
  border: none;
  border-bottom: 3px solid #FB9B2B;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  display: block;
  height: 50px;
  font-weight: 700;
}

button.homeclass__orange-border {
  background: transparent;
  border: 1px solid #FCAE53;
  color: #FCAE53;
  text-transform: uppercase;
  font-size: 1rem;
  display: block;
  height: 50px;
  font-weight: 400;
}

.homeclass__background {
  background: #EDF2F5;
}

button.homeclass__green-full {
  background: #B4D23A;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  border: 0;
  display: block;
  height: 30px;
  font-size: 0.786rem;
}

button.homeclass__green-border {
  background: transparent;
  border: 1px solid #B4D23A;
  border-radius: 5px;
  text-transform: uppercase;
  color: #B4D23A;
  font-weight: 500;
  display: block;
  height: 30px;
  font-size: 0.786rem;
}

.homeclass__navbar-left {
  position: absolute;
  left: 3px;
  top: 7px;
  z-index: 999;
}

.homeclass__navbar-right {
  position: absolute;
  right: 3px;
  top: 7px;
  z-index: 999;
}


.buttons-right.header-item {
  z-index: 999;
}

.checkbox input:before,
.checkbox-icon:before {
  border-radius: 0;
}

.hidden {
  display: none;
}

.w100 { width: 100%; }

@import "components/bell";
@import "components/hamburger";
@import "components/homeclass-button";
@import "components/homeclass-header-profile";

.popup { width: 300px !important; }
.button { min-width: initial !important; }

.reagendar {
  background-color: #49c0bb;
}
.reagendar .bar {
  height:60px  !important;
  background-color: #fba23b !important;
  color: white !important;
}
.reagendar .bar h1, .reagendar .bar i {
  color: white !important;
}

.nbell {
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 1px;
  /* height: 16px; */
  right: 8px;
  /* top: -9px; */
  width: 20px;
  text-align: center;
  z-index: 100;
}
.item-notify {
  font-size: 12px;
  border: 0;
}
.unread-notify { background-color: #ffcbcb; }
.bio-header {
  border-bottom: 2px solid #8a6de9;
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #8a6de9;
}
.bio-in { padding: 10px;}
.bio-in p { font-weight: normal; }

.ta-editor {
  border: 1px solid #C4D4DA !important;
}

.ta-editor.myform1-height, .ta-scroll-window.form-control.myform1-height  {
    min-height: 200px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.myform1-height > .ta-bind {
    height: auto;
    min-height: 200px;
    padding: 6px 12px;
}
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}