.bar-homeclass hamburger {
  padding-left: 17px;
  padding-top: 14px;
}

.bar-homeclass .title {
  font-size: 0.9rem !important;
  text-transform: uppercase;
}

.bar-homeclass bell {
  margin-right: 17px;
  margin-top: 10px;
}

.menu {
  background: #49C0BB;
}

.menu__sidebar-header a {
  text-decoration: none;
}
.menu__sidebar-header h3 {
  font-size: 14px;
  color: #fff;
  margin-top: 40px;
  margin-left: 30px;
}

.menu__sidebar-header {
  height: 176px !important;
  /*background-color: #16B3AC !important;*/
  color: #fff !important;
  position: absolute;
}

.menu__sidebar-close {
  position: absolute;
  color: #fff;
  top: 2px;
  right: 6px;
  background: none;
  border: 0;
}

.menu__sidebar-close .ion-ios-close-empty:before {
  font-size: 1.8rem !important;
}


.menu__sidebar-avatar {

}

.menu__sidebar-image {
  height: 65px;
  width: 65px;
  border-radius: 100%;
  position: relative;
  top: 30px;
  left: 30px;
}

.menu__user-profile {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 19px;
  margin: 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.edit_icon {
  position: absolute;
  width: 30px;
  height: auto;
  top: 55px;
  left: 86px;
  z-index: 20;
}

.menu__sidebar-content {
  top: 176px !important;
}
.menu__sidebar-content2 {
  top:0;
}
.menu__text {
  padding-left: 40px;
}
.menu__sidebar-items ion-item2 {

}
.menu__sidebar-items2 ion-item {
  background-color: #27D6C7;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  /* margin: -1px; */
  padding: 16px;
  /* border-width: 1px; */
  border-style: none;
  font-size: 16px;
}

.menu ion-item .item-content {
  position: relative;
  z-index: 2;
  padding: 0;
  border: none;
  background-color: #27D6C7;
  width: 100%;
  height: 50px !important;
  display: inline-block;
}


.platform-ios .bar-homeclass .title {
  line-height: 25px !important;
}

.menu__sidebar-img {
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 19px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.menu__sidebar-items img {
  vertical-align: middle;
  margin: 0 auto;
  display: block;
}

.menu__sidebar-links {
  color: #9CE8E4;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.786rem;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 23px;
}

.menu__padding-top {
  padding-top: 20px;
}

.notify_none {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align:center;
  padding: 15px;
}
