.homeclass-form__profile {
  background: #fff;
  padding: 100px 30px 20px 30px;

  .homeclass-form__input {
    margin-top: 10px !important;
    margin-bottom: 25px !important;
    padding-right: 35px;
    width: 100%;
  }

  .homeclass-form__select {
    width: 100% !important;
    margin: 0 auto 25px auto !important;
  }

  homeclass-button {
    width: 100% !important;
  }
}

.profile__input-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.profile__form-pencil {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.profile__add {
  width: 100%;
  margin-top: 10px;

}

.profile__add-select {
  position: relative;
}

.profile__chevron {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  font-size: 1.8rem;
  color: #89A3AE;
}

.profile__add-select.selected {
  select {
    border: 1px solid #9DC10E !important;
    color: #9DC10E !important;
  }

  .profile__chevron {
    color: #9DC10E !important;
  }
}
