.request__box {
  padding: 33px 36px 43px 35px;
  margin-bottom: 22px;
}
.homeclass-request_list {
  border-bottom: 1px #EDF2F5 solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.homeclass-request_list:last-child  {
  border-bottom: 0;
}
.homeclass-history__list-left {
  color: #89A3AE;
  float: left;
  width: 70%;
  h4 {
    text-transform: uppercase;
    color: #576C74;
  }
}
.homeclass-history__list-right {
  float: right;
  width: 30%;
}
.homeclass-history__list-student, .homeclass-history__list-area, .homeclass-history__list-level, .homeclass-history__list-schedule {
  color: #576C74;
  font-size: 15px;
  span {
    font-weight: lighter;
  }
}
.homeclass-history__list-accept , .homeclass-history__list-reject {
  text-align: center;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  .icon {
    font-size: 1.5rem;
    vertical-align: middle;
    &:before {
      line-height: 0.714rem;
    }
  }
}
.homeclass-history__list-accept {
  border-radius: 5px 5px 0 0;
  border-top: 1px #9DC10E solid;
  border-left: 1px #9DC10E solid;
  border-right: 1px #9DC10E solid;
  border-bottom: 1px #9DC10E solid;
  color: #9DC10E;
  padding: 15px;
}

.homeclass-history__list-reject {
  border-radius: 0 0 5px 5px;
  border: 1px #FB9B2B solid;
  color: #FB9B2B;
}
.homeclass-rq {
  background-color: #FFF;
  padding: 20px;
}