.results__box {
  padding: 25px 28px 42px 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.results__title {
  font-size: 1rem;
  color: #89A3AE;
  text-transform: uppercase;
}

.results__lesson {
  text-transform: uppercase;
  font-size: 1.286rem;
  color: #576C74;
}

.results__general-info {
  color: #576C74;
  line-height: 1.286rem;

  p {
    margin-bottom: 2px;
  }

  span {
    display: inline-block;
    width: 60px;
  }
}

.results__back {
  position: absolute;
  top: 20px;
  right: 28px;
  color: #9DC10E;
  font-size: 0.714rem;
  border-left: 1px dotted #9DC10E;
  padding-left: 3px;

  .icon {
    font-size: 2rem;
    vertical-align: middle;

    &:before {
      line-height: 0.714rem;
    }
  }
}

.results__clean {
  padding: 20px;
  border-bottom: 1px solid #D8E4E8;
  position: relative;
  color: #576C74;
}
.results__clean h4 { color: #49c0bb; }

.results__item {
  padding: 15px 21px 29px 100px;
  border-bottom: 1px solid #D8E4E8;
  position: relative;
  color: #576C74;


  p {
    margin-bottom: 0;
  }
}

.results__user-avatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0 4px 0 rgba(193, 193, 193, 0.5);
  position: absolute;
  top: 25px;
  left: 10px;
}

.results__user-info {
  min-height: 115px;
  padding-top: 8px;
}

.results__user-rating {
  display: block;
  padding-top: 4px;
  margin-left: -3px;

  .rating {
    display: inline-block;
  }

  .rating li {
    display: inline-block;
    color: #FD9011;
    border-color: #FD9011;
    font-size: 1.1rem;
    padding-left: 2px;
  }
}

.results__user-percentage {
  font-size: 0.714rem;
  vertical-align: middle;
  padding-left: 6px;
  padding-right: 6px;
}

.results__user-name {
  font-weight: 700;
  text-transform: uppercase;
}

.results__user-lesson {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.857rem;
}

.results__user-university {
  font-size: 0.857rem;
  font-weight: 300;
}

.results__user-evaluation {
  font-size: 0.714rem;
  font-style: italic;

  strong {
    font-style: normal;
  }
}
