.schedule__box {
  padding: 33px 36px 43px 35px;
}

.schedule__title {
  font-size: 14px;
  color: #89A3AE;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 26px;

  strong {
    display: block;
  }
}

.schedule__slide-button {
  height: 45px;
  background: #EDF2F5;
  border-radius: 5px;
}

.swiper-pagination-bullet {
  display: none;
}

.schedule__slide-date {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 45px;
  text-align: center;
  color: #576C74;
  font-size: 0.929rem;
  text-transform: uppercase;
}

.schedule__button-wrapper,
.schedule__slide-button {
  position: relative;
}

.schedule__button-wrapper {
  margin-bottom: 32px;
}

.schedule__button-wrapper .ion-ios-arrow-right,
.schedule__button-wrapper .ion-ios-arrow-left {
  top: 0;
  position: absolute;
  font-size: 2rem;
  color: #89A3AE;
  height: 100%;
  line-height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 99;
}

.schedule__button-wrapper .ion-ios-arrow-right {
  right: 0;

}

.schedule__button-wrapper .ion-ios-arrow-left {
  left: 0;
}

.schedule__checkmark {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #B4D23A;
  height: 100%;
  color: #fff;
  font-size: 3rem;
  padding-left: 15px;
  padding-right: 15px;
}

.schedule__select {
  margin-bottom: 15px;
}

.schedule__select.selected select {
  border-color: #B4D23A !important;
  color: #B4D23A !important;
}

.schedule__select.selected .homeclass-form__select-chevron {
  display: none;
}

.schedule__select.selected .schedule__checkmark {
  display: block;
}

.schedule__button {
  width: 100%;
}
