.search__box {
  padding-top: 33px;
  padding-bottom: 42px;
  margin-bottom: 25px;
}

.search__title {
  font-size: 14px;
  color: #89A3AE;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 26px;

  strong {
    display: block;
  }
}

.search__select {
  width: 85%;
  margin: 0 auto 13px;
}

.search__checkmark {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #B4D23A;
  height: 100%;
  color: #fff;
  font-size: 3rem;
  padding-left: 15px;
  padding-right: 15px;
}

.search__select.selected select {
  border-color: #B4D23A !important;
  color: #B4D23A !important;
}

.search__select.selected .homeclass-form__select-chevron {
  display: none;
}

.search__select.selected .search__checkmark {
  display: block;
}

.search__button {
  width: 85%;
  margin: 0 auto 22px;
}

.search-modal__content {
  width: 90%;
  height: 50%;
  top: 17%;
  left: 5% ;
  right: 5%;
  bottom: 5%;
  border-radius: 5px;
  text-align: center;
  padding: 50px 0 0 0;
  background: url('../../main/assets/images/bg-modal.png');
}

.search-modal__wrapper {
  background-color: rgba(0,0,0,0.4);

  .homeclass-form__input {
    width: 97% !important;
    margin: 0 !important;
    color: #FD9011 !important;
    float: right;
    border: 1px solid #FD9011 !important;

  }

  ::-webkit-input-placeholder {
    color: #FD9011 !important;
  }
  :-moz-placeholder {
    color: #FD9011 !important;
  }
  ::-moz-placeholder {
    color: #FD9011 !important;
  }
  :-ms-input-placeholder {
    color: #FD9011 !important;
  }
}

.search-modal__title {
  color: #FD9011;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.857rem;
}

.search-modal__paragraph {
  color: #576C74;
  width: 70%;
  margin: 20px auto;
}
.search-modal__close-content {
  margin-top: 31px;
  margin-bottom: 54px;
}
.search-modal__close {
  text-transform: uppercase;
  color: #89A3AE;
  font-size: 0.929rem;

  .icon {
    font-size: 2rem;
    vertical-align: middle;

    &:before {
      line-height: 0.714rem;
    }
  }
}

.modal-input_checkmark {
  position: absolute;
  top: 0;
  right: 3px;
  background: #FD9011;
  height: 100%;
  color: #fff;
  font-size: 3rem;
  padding-left: 15px;
  padding-right: 15px;
}

.search__available {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #89A3AE;
  font-size: 0.786rem;
}
