.summary__box {
  padding: 25px 28px 42px 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 18px;
}

.summary__back {
  position: absolute;
  top: 20px;
  right: 28px;
  color: #9DC10E;
  font-size: 0.714rem;
  border-left: 1px dotted #9DC10E;
  padding-left: 3px;

  .icon {
    font-size: 2rem;
    vertical-align: middle;

    &:before {
      line-height: 0.714rem;
    }
  }
}

.summary__title {
  font-size: 1rem;
  color: #89A3AE;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.summary__plan {
  border-radius: 5px;
  background: #B4D23A;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.786rem;
  display: inline-block;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.summary__course-title {
  color: #576C74;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.286rem;
  margin-bottom: 16px;
}

.summary__detail {
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
  color: #576C74;

  span {
    width: 60px;
    font-weight: 300;
    display: inline-block;
  }
}

.summary__assign {
  padding-top: 19px;
  color: #89A3AE;
  font-size: 0.929rem;
}

.summary__select {
  height: 45px;
  width: 100%;
  border: 1px solid #C4D4DA;
  color: #C4D4DA;
  border-radius: 0;
  background: #fff;
  padding-left: 21px;
}

.summary__select-wrapper {
  position: relative;
}

.summary__chevron {
  position: absolute;
  top: 50%;
  color: #C4D4DA;
  font-size: 1.8rem;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 15px;
}

.summary__select-wrapper.selected .summary__select {
  color: #B4D23A;
  border-color: #B4D23A;
}

.summary__select-wrapper.selected .summary__chevron {
  color: #B4D23A;
}

.summary__pay {
  width: 80%;
  margin: 38px auto 0;

}
