.teacher__box {
  padding: 25px 28px 42px 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 18px;
}

.teacher__title {
  font-size: 1rem;
  color: #89A3AE;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.teacher__back {
  position: absolute;
  top: 20px;
  right: 28px;
  color: #9DC10E;
  font-size: 0.714rem;
  border-left: 1px dotted #9DC10E;
  padding-left: 3px;

  .icon {
    font-size: 2rem;
    vertical-align: middle;

    &:before {
      line-height: 0.714rem;
    }
  }
}

.teacher__info-wrapper {
  position: relative;
  min-height: 115px;
  padding-left: 138px;
  color: #576C74;

  p {
    margin-bottom: 0;
  }
}

.teacher__info {
  padding-top: 20px;
}

.teacher__user-avatar {
  border-radius: 50%;
  width: 115px;
  height: 115px;
  background-position: center center;
  box-shadow: 0 0 4px 0 rgba(193, 193, 193, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.teacher__user-rating {
  display: block;
  padding-top: 4px;
  margin-left: -3px;

  .rating {
    display: inline-block;
    vertical-align: middle;
  }

  .rating li {
    display: inline-block;
    color: #FD9011;
    border-color: #FD9011;
    font-size: 1.3rem;
    padding-left: 2px;
  }
}

.teacher__user-percentage {
  font-size: 0.714rem;
  vertical-align: middle;
  padding-left: 6px;
  padding-right: 6px;
}

.teacher__user-name {
  font-weight: 700;
  text-transform: uppercase;
}

.teacher__user-lesson {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.857rem;
}

.teacher__user-university {
  font-size: 0.857rem;
  font-weight: 300;
}


.teacher__plans {
  background: #fff;
}

.teacher__plan {
  padding: 27px 33px 26px;
  border-bottom: 1px solid #E7EFF1;
  display: flex;
  flex-direction: row;
}

.teacher__plan-left,
.teacher__plan-right {
  width: 50%;
}

.teacher__plan-left {
  padding-right: 15px;
}

.teacher__plan-left button {
  width: 100%;
}

.teacher__plan-left button:first-child {
  margin-bottom: 8px;
}

.teacher__plan-right {
  padding-left: 15px;
}

.teacher__plan-price {
  font-weight: 700;
  color: #576C74;
  margin: 0;
  margin-bottom: 15px;
  font-size: 1.857rem;
}

.teacher__class-quantity,
.teacher__class-hours {
  color: #576C74;
  margin: 0;
  font-size: 0.929rem;
  line-height: 1.214rem;
}
