bell {
  display: block;
  height: 28px;
  width: 28px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 6px 0 rgba(109, 109, 109, 0.5);
  position: absolute;
  right: 0;
}


bell svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}
