homeclass-button {
  display: block;
  background: #9DC10E;
  color: #fff;
  text-align: center;
  margin: 10px auto;
  width: 90%;
  height: 45px;
  text-transform: uppercase;
  font-weight: bold;
}

.homeclass_button-text {
  margin: 0;
  background: #C5DF58;
  font-size: 0.9rem;
  height: 41px;
  font-family: 'Roboto', sans-serif;
}

.homeclass__button-next {
  padding-right: 5px;
  padding-left: 5px;
  vertical-align: top;
  line-height: 2.9rem;
}
