homeclass-header-profile {
  display: block;
  height: 145px;
  background: #49C0BB;
}

div.homeclass-header-profile {
  display: block;
  height: 145px;
  background: #49C0BB;
}

.header-profile__wrapper {
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.header-profile__overlay {
  height: 100%;
  width: 100%;
  background: rgba(73, 192, 187, 0.5);
  position: relative;
}


.header-profile__avatar {
  height: 180px;
  width: 180px;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(157,157,157,0.50);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 56px;
}

.header-profile__edit {
  height: 35px;
  width: 35px;
  background: #9DC10E;
  position: absolute;
  right: 14px;
  bottom: 0;
  border: 0;
  border-radius: 50%;
}

.header-profile__icon-pencil {
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
}

.header-profile__topbar {
  width: 100%;
  position: relative;
  padding-top: 14px;
}

.header-profile__title {
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}

.header-profile__left-button {
  left: 21px;
  top: 21px
}

.header-profile__right-button {
  position: absolute;
  top: 15px;
  right: 22px;
}
