<ion-view view-title="Solicitud de Clases">
  <ion-content class="padding">
    <div class="homeclass__box request__box">
      <div class="homeclass-request_list" ng-repeat="request in ctrl.requests">
        <div class="homeclass-history__list-left">
          <div class="homeclass-history__list-student"><span>Alumno:</span> {{ request.student }}</div>
          <h4>{{ request.signature }}</h4>
          <div class="homeclass-history__list-area"><span>Comúna:</span> {{ request.area }}</div>
          <div class="homeclass-history__list-level"><span>Nivel:</span> {{ request.level }}</div>
          <div class="homeclass-history__list-schedule"><span>Horario:</span> {{ request.schedule }}</div>
        </div>
        <div class="homeclass-history__list-right">
          <div class="homeclass-history__list-accept"><i class="icon ion-checkmark"></i></div>
          <div class="homeclass-history__list-reject"><i class="icon ion-close"></i></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
