<ion-view view-title="Mi agenda">
  <!-- do you want padding? -->
  <ion-content>
  <div class="profesorView">
    <div class="homeclass__box calendar__box">
      <div class="calendar__box-header" style="padding-left:0px;">
        <div class="calendar__box-change">
          <button ng-click="prevMes()" class="calendar__box-previous" style="left:20px"><i class="icon ion-ios-arrow-left"></i>
          </button>
          <p class="calendar__box-preview">
            <span class="calendar__box-month">{{ ctrl.calendarDate | date:'MMMM' }}</span> <strong
            class="calendar__box-year">{{ ctrl.calendarDate | date:'yyyy' }}</strong>
          </p>
          <button ng-click="nextMes()" class="calendar__box-next" style="right:20px"><i class="icon ion-ios-arrow-right"></i>
          </button>
        </div>
      </div>

    </div>

    <div class="calendar__bottom" ng-if="clases == 0">
       <div class="results__clean"><h4>No tienes clases en tu calendario para {{ ctrl.calendarDate | date:'MMMM' }} del {{ ctrl.calendarDate | date:'yyyy' }}</h4></div>
    </div>

    <div class="homeclass-control_list" ng-if="clases > 0">
      <div class="results__clean"><h4>Clases en {{ ctrl.calendarDate | date:'MMMM' }} del {{ ctrl.calendarDate | date:'yyyy' }}</h4></div>

      <div class="card" ng-repeat="clase in class">
        <div class="item item-divider header-dash-profe">
          {{$root.convertToDate(clase.dia) | date:'dd/MM/yyyy'}}
        </div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col-25"> 
              <div style="width:55px; height: 55px; border-radius: 50%; background-size: cover; background-image: url({{clase.avatar}});">
              </div>
            </div>
            <div class="col-75">
              CON: {{clase.contraparte | uppercase }}<br />
              {{clase.signature | uppercase}} <br />
              Desde las {{clase.h_ini}} a las {{clase.h_fin}}
            </div>
          </div>
          <div class="row" ng-show="puedeReagendar == 1 && clase.pasado == 0">
            <div class="col text-right">
              <button class="button button-small button-assertive" ng-click="profesor_reagendar(clase.id, clase);">Re agendar</button>
            </div>
          </div>
        </div>
      </div>


    </div>


  </div>


  </ion-content>
</ion-view>
