<ion-view view-title="Calendario">
  <!-- do you want padding? -->
  <ion-content>
  <div class="profesorView" ng-if="profesorView">
    <div class="homeclass__box calendar__box">
      <div class="calendar__box-header">
        <div class="calendar__box-change">
          <button ng-click="ctrl.previousMonth()" class="calendar__box-previous"><i class="icon ion-ios-arrow-left"></i>
          </button>
          <p class="calendar__box-preview">
            <span class="calendar__box-month">{{ ctrl.calendarDate | date:'MMMM' }}</span> <strong
            class="calendar__box-year">{{ ctrl.calendarDate | date:'yyyy' }}</strong>
          </p>
          <button ng-click="ctrl.nextMonth()" class="calendar__box-next"><i class="icon ion-ios-arrow-right"></i>
          </button>
        </div>
        <div class="calendar__box-right">
          <button class="calendar__box-schedule" ng-click="agendar();">Agendar clase</button>
        </div>
      </div>

      <div class="calendar__box-content">
        <div class="calendar__box-days calendar__days-header">
          <span>L</span>
          <span>M</span>
          <span>M</span>
          <span>J</span>
          <span>V</span>
          <span>S</span>
          <span>D</span>
        </div>

        <div class="calendar__box-days" ng-repeat="r in ctrl.calendarArray">
          <div class="calendar__box-day" ng-repeat="c in r" ng-click="loadDia(c.day, ctrl.calendarDate)">
            <span ng-class="c.class">{{ c.day }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="calendar__bottom">
      <div class="calendar__bottom-schedule">
        <select ng-if="horarios_dia.length > 0" ng-model="sel.horario">
          <option value="">Seleccione horario</option>
          <option value="{{horario.id}}" ng-repeat="horario in horarios_dia">{{horario.inicio}} a {{horario.fin}}</option>
        </select>
        <strong ng-if="horarios_dia.length == 0">Día no disponible o no seleccionado</strong>
        <!--<p><strong>6 enero</strong> - 19:00 a 20:00</p>-->
      </div>
      <div class="calendar__bottom-remains">
        <span class="calendar__top-number">{{diaSeleccionado}}</span>
        <div class="calendar__frac"></div>
        <span class="calendar__bottom-number">{{mesSeleccionado}}</span>
      </div>
      <div class="clearfix"></div>
      <div class="calendar__bottom-details">
        <div class="calendar__bottom-details-img">
          <img width="65" height="61" src="{{profesor.avatar}}">
        </div>
        <div class="calendar__bottom-details-text">
          <div class="calendar__bottom-text-title"> </div>
          <div><span>Profesor:</span><br />{{profesor.nombre}}</div>
        </div>
      </div>
      <div class="calendar__bottom-details">
            <div class="homeclass-form__select-group search__select" ng-class="{'selected': sel.alumno}">
              <select class="homeclass-form__select" ng-model="sel.alumno">
                <option value="{{al.id}}" ng-repeat="al in als">{{al.alumno}}</otion>
              </select>
              <i class="homeclass-form__select-chevron icon ion-ios-arrow-down"></i>
              <i class="search__checkmark icon ion-ios-checkmark-empty"></i>
            </div>
      </div>
      <br />
      <div class="text-center homeclass-form__label">Dirección / Lugar de clase</div>
      <div class="profile__input-wrapper">
        <input class="homeclass-form__input" ng-model="$root.direccionAgendar" type="text" placeholder="Dirección o lugar de clase">
        <img class="profile__form-pencil" style="right: 30px;" src="main/assets/images/form-pencil.svg" />
      </div>
      <br /><br />
      <div class="calendar__add-calendar">
        <!--<button class="calendar__box-schedule" ng-click="agendar();">Agendar clase</button>-->
        <button class="homeclass__orange-full search__button" ng-click="agendar();">Agendar clase</button>
      </div>
      <br /><br />


    </div>

    
  </div>


  </ion-content>
</ion-view>
