<ion-view view-title="Mis Créditos" hide-back-button="true">
  <!-- do you want padding? -->
  <ion-content>

    <!-- content goes here -->
    <div class="homeclass__box results__box">
      <!--<div class="results__back" ng-click="goBack();">
        <i class="icon ion-ios-arrow-thin-left"></i> Volver
      </div>-->
      <p class="results__title"><strong>Mis créditos</strong></p>

      <h1 class="results__lesson">Tienes {{creditos}} creditos en tu cuenta</h1>
    </div>
    <br />
    <div class="homeclass__box results__box">
     <!-- <div class="results__back" ng-click="goBack();">
        <i class="icon ion-ios-arrow-thin-left"></i> Volver
      </div>-->
      <p class="results__title"><strong>Clases y créditos</strong></p>

      <!--<div class="homeclass-control_list-classes" style="width: 100%; margin: 0; text-align:left;" >-->
        <ion-item ng-repeat="win in wins">
          <div class="row">
            <div class="col col-50">+1</div>
            <div class="col col-50">{{$root.convertToDate(win.dia) | date: 'dd/MM/yyyy' }}</div>
          </div>
          <div class="row">
            <div class="col col-50">Clase a <b>{{win.usuario_alumno}}</b> <br /><i style="color:blue;" ng-show="win.clase_realizada == 1">Clase realizada!</i></div>
          </div>
        </ion-item>
      <!--</div>-->
      <br /><br /><br />
      
    </div>
    <div style="clear:both;"></div>

  </ion-content>
</ion-view>
