<ion-view view-title="homeclass">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <div class="dashboard__blocks">
      <div ng-repeat="d in ctrl.dashboard" class="dashboard__block" style="background-image: url({{ d.background }})">
        <div class="dashboard__left" style="background: {{ d.color }}">
          <img class="dashboard__icon" ng-src="{{ d.icon }}" />
        </div>
        <div class="dashboard__right">
          <span class="dashboard__block-title">{{ d.title }}</span>
        </div>
      </div>
    </div>

    <p class="dashboard__footer">Comparte homeclass con un amigo</p>

  </ion-content>
</ion-view>
