<ion-view view-title="Evaluación">
  <ion-content>
    <div class="homeclass__box evaluation__box">
      <p class="evaluation__title">Selecciona <strong><br>Profesor y clase a evaluar</strong></p>

      <div class="homeclass-form__select-group">
        <select class="homeclass-form__select" ng-model="evaluation.id">
          <option value="">Seleccionar</option>
          <option value="{{profesor.idagenda}}" ng-repeat="profesor in profesores">{{profesor.nombre}} - {{$root.convertToDate(profesor.dia) | date:'dd/MM/yyyy'}}</option>
        </select>
        <i class="homeclass-form__select-chevron icon ion-ios-arrow-down"></i>
      </div>
    </div>

    <div class="results__clean" ng-if="evaluation.id == 0">
      <h4>Selecciona un profesor con clases en el pasado para evaluar.</h4>
      <br />Para los efectos de evaluación, solo se consideran profesores con clases de los últimos 30 dias
    </div>
    
    <div class="evaluation__poll" ng-if="evaluation.id != 0">
      <div class="evaluation__poll-box selected">
        <div class="evaluation__poll-box-title">
          <h5>¿DEMUESTRA EL PROFESOR SOLIDOS CONOCIMIENTO DE LA ASIGNATURA REQUERIDA?</h5>
        </div>
        <div class="evaluation__poll-box-options">
          <ion-checkbox class="evaluation__checkbox" ng-class="{'checked': ctrl.question1.yes}" ng-model="ctrl.question1.yes" ng-click="ctrl.yes('question1')">Si</ion-checkbox>
          <ion-checkbox class="evaluation__checkbox" ng-class="{'checked': ctrl.question1.no}" ng-model="ctrl.question1.no" ng-click="ctrl.no('question1')">No</ion-checkbox>
        </div>
      </div>
      <div class="evaluation__poll-box">
        <div class="evaluation__poll-box-title">
          <h5>¿LLEGO A LA HORA EL PROFESOR?</h5>
        </div>
        <div class="evaluation__poll-box-options">
          <ion-checkbox class="evaluation__checkbox" ng-class="{'checked': ctrl.question2.yes}" ng-model="ctrl.question2.yes" ng-click="ctrl.yes('question2')">Si</ion-checkbox>
          <ion-checkbox class="evaluation__checkbox" ng-class="{'checked': ctrl.question2.no}" ng-model="ctrl.question2.no" ng-click="ctrl.no('question2')">No</ion-checkbox>
        </div>
      </div>
      <div class="evaluation__poll-box">
        <div class="evaluation__poll-box-title">
          <h5>¿EL PROFESOR NECESITO MAS TIEMPO DEL ESPERADO?</h5>
        </div>
        <div class="evaluation__poll-box-options">
          <ion-checkbox class="evaluation__checkbox" ng-class="{'checked': ctrl.question3.yes}" ng-model="ctrl.question3.yes" ng-click="ctrl.yes('question3')">Si</ion-checkbox>
          <ion-checkbox class="evaluation__checkbox" ng-class="{'checked': ctrl.question3.no}" ng-model="ctrl.question3.no" ng-click="ctrl.no('question3')">No</ion-checkbox>
        </div>
      </div>
    </div>

    <div class="calendar__add-calendar" ng-if="evaluation.id != 0">
      <button class="calendar__box-schedule" ng-click="evaluar();">Enviar evaluación</button>
    </div>

  </ion-content>
</ion-view>
