<ion-view view-title="COMPROBANTE WEBPAY">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <div class="homeclass__box history__box" >
        <div class="results__clean">
        	<h4>Transacción realizada con éxito</h4>
        	<br /><br />
        	
        </div>
    </div>
  </ion-content>
</ion-view>
