<ion-view view-title="Preguntas Frecuentes">
  <ion-content class="padding">
      <ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
           {{group.name}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
            <strong>{{item.item}}</strong>
            <br />
            <p style='padding: 14px; white-space: normal; line-height: 18px; text-align:justify;' ng-bind-html="html(item.r)"></p>
          </ion-item>
        </div>
      </ion-list>

  </ion-content>
</ion-view>
