<ion-view view-title="Notificación de emergencias">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <div class="homeclass__box panic__box">
      <p class="panic__title">Selecciona <strong>Tipo de emergencia</strong></p>

      <div class="homeclass-form__select-group panic__select">
        <select class="homeclass-form__select">
          <option value="" disabled selected>Tipo de emergencia</option>
          <option value="1">Ausencia del profesor</option>
        </select>
        <i class="homeclass-form__select-chevron icon ion-ios-arrow-down"></i>
      </div>
    </div>

    <div class="panic__details">
      <p class="panic__details-title">Detalle de la emergencia</p>
      <textarea class="panic__details-textarea" placeholder="Tu mensaje"></textarea>
      <button class="homeclass__orange-full panic__button">Notificar</button>
    </div>


  </ion-content>
</ion-view>
