<ion-view view-title="homeclass">
  <!-- do you want padding? -->
  <ion-content class="padding">
    <!--
    <div class="dashboard__blocks">
      <div ng-click="gotoMe(d.dest)" ng-repeat="d in ctrl.dashboard" class="dashboard__block" style="background-image: url({{ d.background }})">
        <div class="dashboard__left" style="background: {{ d.color }}">
          <img class="dashboard__icon" ng-src="{{ d.icon }}" />
        </div>
        <div class="dashboard__right">
          <span class="dashboard__block-title">{{ d.title }}</span>
        </div>
      </div>
    </div>
    -->
    <div class="card">
      <div class="item item-divider header-dash-profe">
        Mis créditos
      </div>
      <div class="item item-text-wrap dash-credito">
        <div ng-bind-html="creditos"></div>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider header-dash-profe">
        Comunas donde estoy disponible
      </div>
      <div class="item item-text-wrap">
        <div ng-bind-html="comunas"></div>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider header-dash-profe">
        Mis horarios para mañana
      </div>
      <div class="item item-text-wrap">
        <div ng-bind-html="horarios"></div>
      </div>
    </div>

  </ion-content>
</ion-view>
