<ion-view view-title="Perfil" hide-nav-bar="true">
  <ion-content>
  <div class="homeclass-header-profile">
    <div class="header-profile__wrapper" ng-style="{'background-image': 'url({{cover}})'}">
      <div class="header-profile__overlay">

        <div class="header-profile__topbar">
          <div class="homeclass__navbar-left header-profile__left-button">
            <hamburger menu-toggle="left"></hamburger>
          </div>

          <div class="header-profile__right-button">
            <bell></bell>
          </div>

          <p class="header-profile__title">
            Perfil
          </p>
        </div>

        <div class="header-profile__avatar" ng-style="getBackgroundStyle(avatar)">
          <button class="header-profile__edit" ng-click="setImage();">
            <svg width="17" height="16" viewBox="0 0 17 16" class="header-profile__icon-pencil">
              <path d="M14.96 1.04c-1.37-1.38-3.6-1.38-5 0L.82 10.2c-.06.06-.1.15-.12.25L0 15.48c-.02.14.04.28.13.38.1.1.2.14.33.14h.06l3.03-.4c.25-.05.43-.28.4-.53-.04-.25-.27-.43-.53-.4L1 15l.47-3.5 3.7 3.68c.07.1.2.14.3.14.13 0 .25-.05.34-.14l9.17-9.15c.67-.67 1.04-1.55 1.04-2.5 0-.94-.36-1.83-1.03-2.5zm-4.8 1.12l1.52 1.54-8.35 8.35-1.54-1.53 8.34-8.36zM5.48 14.2l-1.52-1.5 8.36-8.35 1.5 1.5L5.5 14.2zm8.98-9L10.8 1.52c.47-.4 1.05-.6 1.67-.6.7 0 1.35.27 1.85.76.5.5.76 1.15.76 1.85 0 .62-.2 1.2-.6 1.67z" fill="#FFF" fill-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
    <div class="homeclass-form__profile">
      <label class="homeclass-form__label">Nombre</label>
      <div class="profile__input-wrapper">
        <input class="homeclass-form__input" ng-model="yo.nombre" type="text" placeholder="Nombre">
        <img class="profile__form-pencil" src="main/assets/images/form-pencil.svg" />
      </div>

      <label class="homeclass-form__label">Correo Electronico</label>
      <div class="profile__input-wrapper">
        <input class="homeclass-form__input" ng-model="yo.email" type="email" placeholder="Correo Electronico">
        <img class="profile__form-pencil" src="main/assets/images/form-pencil.svg" />
      </div>


      <label class="homeclass-form__label" ng-if="$root.soyAlumno">Dirección</label>
      <div class="profile__input-wrapper" ng-if="$root.soyAlumno">
        <input class="homeclass-form__input" ng-model="yo.direccion" type="text" placeholder="Dirección (clases)">
        <img class="profile__form-pencil" src="main/assets/images/form-pencil.svg" />
      </div>

      <label class="homeclass-form__label" ng-if="$root.soyAlumno">Alumno (s)</label>

      <div class="homeclass__input-group profile__add" ng-if="$root.soyAlumno" ng-repeat="child in yo.childs">
        <div class="profile__add-select">
          <div class="homeclass-form__alumno">
            <input type="text" class="homeclass-form__input" ng-model="child.alumno" />
          </div>
        </div>
        <button class="signup__add-button" ng-click="deleteAlumno($index)"><i class="icon ion-ios-minus-empty"></i></button>
      </div>

      <div class="homeclass__input-group profile__add" ng-if="$root.soyAlumno" ng-repeat="nuevo in yo.nuevos">
        <div class="profile__add-select">
          <div class="homeclass-form__alumno">
            <input type="text" class="homeclass-form__input" ng-model="nuevo.alumno" placeholder="Nombre alumno" />
          </div>
        </div>
        <button ng-if="nuevo.deletable == 0" class="signup__add-button" ng-click="addNuevo($index)"><i class="icon ion-ios-plus-empty"></i></button>
        <button ng-if="nuevo.deletable == 1" class="signup__add-button" ng-click="deleteNuevo($index)"><i class="icon ion-ios-minus-empty"></i></button>
      </div>

      <label class="homeclass-form__label">Contraseña</label>
      <div class="profile__input-wrapper">
        <input class="homeclass-form__input" ng-model="yo.pass" type="password" placeholder="Ingrese solo para cambiar">
        <img class="profile__form-pencil" src="main/assets/images/form-pencil.svg" />
      </div>

      <label class="homeclass-form__label" ng-if="$root.soyProfesor">Bio</label>
      <div class="profile__input-wrapper" ng-if="$root.soyProfesor">
        <div text-angular ng-model="yo.bio" ta-text-editor-class="myform1-height" ta-html-editor-class="myform1-height"></div>
        <img class="profile__form-pencil" src="main/assets/images/form-pencil.svg" />
      </div>

      <label class="homeclass-form__label" ng-if="$root.soyProfesor"><br>Universidad</label>
      <div class="profile__input-wrapper" ng-if="$root.soyProfesor">
        <select class="homeclass-form__select" ng-model="yo.universidad">
          <option value="{{u.id}}" ng-repeat="u in universidades">{{u.valor}}</option>
        </select>
        <img class="profile__form-pencil" src="main/assets/images/form-pencil.svg" />
      </div>

      <label class="homeclass-form__label" ng-if="$root.soyProfesor">Especialidad</label>
      <div class="profile__input-wrapper" ng-if="$root.soyProfesor">
        <input class="homeclass-form__input" ng-model="yo.especialidad" type="text" placeholder="Especialidad">
        <img class="profile__form-pencil" src="main/assets/images/form-pencil.svg" />
      </div>      

      <label class="homeclass-form__label" ng-if="$root.soyProfesor">Intereses</label>
      <div class="profile__input-wrapper" ng-if="$root.soyProfesor">
        <tags-input ng-model="yo.intereses" placeholder="agregar..."></tags-input>
        <img class="profile__form-pencil" src="main/assets/images/form-pencil.svg" />
      </div>

      <homeclass-button text="guardar cambios" ng-click="saveProfile();"></homeclass-button>
    </div>
  </ion-content>
</ion-view>
