<ion-view view-title="Contrata un plan">
  <ion-content class="padding">
    <div class="homeclass__box request__box" ng-show="cargada == 1 && tengo_puntos == 0 && stParamAdd == ''">
      <h4>Ups! No tienes créditos para agendar la clase, compra uno de nuestros planes!</h4>
    </div>
    <div ng-show="cargada == 1" class="homeclass-rq">
      <div class="homeclass-request_list" ng-repeat="plan in planes">
        <div class="homeclass-history__list-left">
          <h4>Plan {{ plan.nombre }}</h4>
          <div class="homeclass-history__list-area">Obtén {{ plan.creditos }} credito(s)</div>
          <div class="homeclass-history__list-level"><span>Precio:</span> {{(plan.precio | currency:"$ ":0)}}</div>
          <br />
          <div class="homeclass-history__list-area"><span>{{ plan.descripcion }}</span></div>
        </div>
        <div class="homeclass-history__list-right text-right">
          <br /><br />
          <a ng-click="comprar(plan.id)" class="homeclass-history__list-accept"><i class="icon ion-card"></i></a>
          <!--<div class="homeclass-history__list-reject"><i class="icon ion-close"></i></div>-->
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
