<ion-view view-title="Buscar profesores" hide-back-button="true">
  <!-- do you want padding? -->
  <ion-content>

    <!-- content goes here -->
    <div class="homeclass__box results__box">
      <div class="results__back" ng-click="goBack();">
        <i class="icon ion-ios-arrow-thin-left"></i> Volver
      </div>
      <p class="results__title"><strong>Resultado</strong> de busqueda</p>

      <h1 class="results__lesson" ng-if="$root.busqueda.materia">{{$root.busqueda.materia}}</h1>

      <div class="results__general-info">
        <p ng-if="$root.busqueda.comuna"><span>Comuna:</span> <strong>{{$root.busqueda.comuna}}</strong></p>
        <p ng-if="$root.busqueda.horario"><span>Horario:</span> <strong>{{$root.busqueda.horario}}</strong></p>
        <p ng-if="$root.busqueda.fecha"><span>Fecha:</span> <strong>{{$root.formatFecha($root.busqueda.fecha)}}</strong></p>
      </div>
    </div>

    <div class="results__list" ng-if="$root.busqueda.resultados.length == 0">
      <div class="results__clean"><h4>No encontramos resultados para tu búsqueda</h4></div>
    </div>

    <div class="results__list">

      <div class="results__item" ng-repeat="person in $root.busqueda.resultados">
        <div class="results__user-avatar" ng-click="seeCalendar(person.id);" ng-style="{'background-image': 'url(' + person.avatar + ')'}"></div>

        <div class="results__user-info">

          <div class="row">
            <div class="col-75" ng-click="seeCalendar(person.id);">
              <p class="results__user-name">{{ person.nombre }}</p>
              <p class="results__user-university">{{ person.universidad_name }}</p>

              <div class="results__user-rating">
                <rating ng-model="person.rating" readonly="true" max="person.rating_prom"></rating>
                <span class="results__user-percentage">{{person.rating_max}}%</span>
                <img src="main/assets/images/like.svg" />
              </div>

              <p class="results__user-evaluation">Evaluado por <strong>{{ person.rating_qty }} usuarios</strong></p>

            </div>
            <div class="col-25 text-right">
              <br />
              <button class="button button-small button-royal pull-right" ng-click="seeProfile(person.id);">ver perfil</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
