<ion-view view-title="Buscar profesores">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <div class="homeclass__box search__box">
      <p class="search__title">Ingresa los siguientes datos y <strong>encuentra un profesor a tu <br/>medida</strong>
      </p>

      <div class="homeclass-form__select-group search__select" ng-class="{'selected': search.materia}">
        <select class="homeclass-form__select" ng-model="search.materia">
          <option value="" disabled selected>Clases de</option>
          <option value="{{materia.id}}" ng-repeat="materia in materias">{{ materia.valor }}</option>
        </select>
        <i class="homeclass-form__select-chevron icon ion-ios-arrow-down"></i>
        <i class="search__checkmark icon ion-ios-checkmark-empty"></i>
      </div>

      <div class="homeclass-form__select-group search__select" ng-class="{'selected': search.comuna}">
        <select class="homeclass-form__select" ng-change="updateTotal();" ng-model="search.comuna">
          <option value="" disabled selected>Comuna</option>
          <option value="{{comuna.com_id}}" ng-repeat="comuna in comunas">{{ comuna.com_nombre }}</option>
        </select>
        <i class="homeclass-form__select-chevron icon ion-ios-arrow-down"></i>
        <i class="search__checkmark icon ion-ios-checkmark-empty"></i>
      </div>

      <p ng-if="search.comuna" class="search__available">
        <strong>{{total_profes}} profesor(es)</strong> disponible(s) en la comuna
      </p>

      <!--
      <div class="homeclass-form__select-group search__select" ng-class="{'selected': search.level}">
        <select class="homeclass-form__select" ng-model="search.level">
          <option value="" disabled selected>Nivel</option>
        </select>
        <i class="homeclass-form__select-chevron icon ion-ios-arrow-down"></i>
        <i class="search__checkmark icon ion-ios-checkmark-empty"></i>
      </div>
      -->
      <div class="homeclass-form__select-group search__select" ng-class="{'selected': search.horario}">
        <select class="homeclass-form__select" ng-model="search.horario">
          <option value="" disabled selected>Horarios</option>
          <option value="{{horario.id}}" ng-repeat="horario in horarios">{{ horario.inicio }} a {{ horario.fin }}</option>
        </select>
        <i class="homeclass-form__select-chevron icon ion-ios-arrow-down"></i>
        <i class="search__checkmark icon ion-ios-checkmark-empty"></i>
      </div>
      <br />
      <p class="search__title"><strong>Elije una fecha de interés</strong></p>
      <div class="homeclass__box calendar__box">
        <div class="calendar__box-header" style="padding:0;">
          <div class="calendar__box-change2" style="width:100%;">
            <button style="left:20px;" ng-click="ctrl.previousMonth()" class="calendar__box-previous"><i class="icon ion-ios-arrow-left"></i>
            </button>
            <p class="calendar__box-preview">
              <span class="calendar__box-month">{{ ctrl.calendarDate | date:'MMMM' }}</span> <strong
              class="calendar__box-year">{{ ctrl.calendarDate | date:'yyyy' }}</strong>
            </p>
            <button style="right:20px;" ng-click="ctrl.nextMonth()" class="calendar__box-next"><i class="icon ion-ios-arrow-right"></i>
            </button>
          </div>
          <!--<div class="calendar__box-right">
            
          </div>-->
        </div>

        <div class="calendar__box-content">
          <div class="calendar__box-days calendar__days-header">
            <span>L</span>
            <span>M</span>
            <span>M</span>
            <span>J</span>
            <span>V</span>
            <span>S</span>
            <span>D</span>
          </div>

          <div class="calendar__box-days" ng-repeat="r in ctrl.calendarArray">
            <div class="calendar__box-day" ng-repeat="c in r" ng-click="loadDia(c.day, ctrl.calendarDate, c.class)">
              <span ng-class="c.class">{{ c.day }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="homeclass__orange-full search__button" ng-click="buscar();">Buscar</button>
    <!--<button class="homeclass__orange-border search__button">Limpiar Busqueda</button>-->

  </ion-content>
</ion-view>
