<ion-view view-title="Compra">
  <!-- do you want padding? -->
  <ion-content>

    <!-- content goes here -->
    <div class="homeclass__box summary__box">
      <div class="summary__back">
        <i class="icon ion-ios-arrow-thin-left"></i> Volver
      </div>
      <p class="summary__title"><strong>Resumen</strong></p>

      <div class="summary__plan">Plan semestral</div>

      <h1 class="summary__course-title">Historia y geografía</h1>

      <p class="summary__detail"><span>Profesor:</span> Juan Perez</p>
      <p class="summary__detail"><span>Comuna:</span> Las Condes</p>
      <p class="summary__detail"><span>Nivel:</span> 3º Medio</p>
      <p class="summary__detail"><span>Horario:</span> 6 PM - 8 PM</p>

      <p class="summary__assign">Asignar un alumno a este plan</p>

      <div class="summary__select-wrapper" ng-class="{'selected': ctrl.form.student}">
        <select class="summary__select" ng-model="ctrl.form.student">
          <option value="" disabled selected>Selecciona un alumno</option>
          <option value="1">Luis Urrutia</option>
        </select>
        <i class="summary__chevron icon ion-ios-arrow-down"></i>
      </div>
    </div>

    <button class="homeclass__orange-full summary__pay">Pagar</button>


  </ion-content>
</ion-view>
