<ion-view view-title="Buscar profesor">
  <!-- do you want padding? -->
  <ion-content>

    <!-- content goes here -->
    <div class="homeclass__box teacher__box">
      <div class="teacher__back">
        <i class="icon ion-ios-arrow-thin-left"></i> Volver
      </div>
      <p class="teacher__title">Profesor <strong>Seleccionado</strong></p>

      <div class="teacher__info-wrapper">
        <div class="teacher__user-avatar" ng-style="{'background-image': 'url(' + ctrl.teacher.avatar + ')'}"></div>

        <div class="teacher__info">
          <p class="teacher__user-name">{{ ctrl.teacher.name }}</p>
          <p class="teacher__user-lesson">{{ ctrl.teacher.lesson }}</p>
          <p class="teacher__user-university">{{ ctrl.teacher.university }}</p>

          <div class="teacher__user-rating">
            <rating ng-model="ctrl.teacher.rating" readonly="true" max="ctrl.maxRating"></rating>
            <span class="teacher__user-percentage">100%</span>
            <img src="main/assets/images/like.svg" />
          </div>

        </div>
      </div>
    </div>

    <div class="teacher__plans">

      <div class="teacher__plan">
        <div class="teacher__plan-left">
          <button class="homeclass__green-full">Una hora</button>
          <button class="homeclass__green-border">Comprar</button>
        </div>
        <div class="teacher__plan-right">
          <p class="teacher__plan-price">$20.000</p>

          <p class="teacher__class-quantity">Clase única</p>
          <p class="teacher__class-hours">2 Horas cronológicas</p>
        </div>
      </div>

      <div class="teacher__plan">
        <div class="teacher__plan-left">
          <button class="homeclass__green-full">Plan Semestral</button>
          <button class="homeclass__green-border">Comprar</button>
        </div>
        <div class="teacher__plan-right">
          <p class="teacher__plan-price">$200.000</p>

          <p class="teacher__class-quantity">36 Clases</p>
          <p class="teacher__class-hours">48 Horas cronológicas</p>
        </div>
      </div>

      <div class="teacher__plan">
        <div class="teacher__plan-left">
          <button class="homeclass__green-full">Plan Trimestral</button>
          <button class="homeclass__green-border">Comprar</button>
        </div>
        <div class="teacher__plan-right">
          <p class="teacher__plan-price">$300.000</p>

          <p class="teacher__class-quantity">60 Clases</p>
          <p class="teacher__class-hours">48 Horas cronológicas</p>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
