.login {

  .login__signin {
    display: block;
    height: 100%;
    background-size: cover;
  }

  .login__wrapper {
    background: #fff;
    width: 100%;
    height: auto;
    padding: 20px;
    position: relative;

  }

  p {
    color: #697F87;
  }
  select {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;
    appearance:none;
  }
  .login__logo {
    position: relative;
    z-index: 2;
    background-image: url('../assets/images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 90px;
    top: 90px;

  }
  .wcl_ext {
    background-color: rgba(73, 192, 187, 0.80);
    padding-top: 20px;
    padding-bottom: 1px;
  }
  .login__form {
    margin: 20px;
  }

  .login__signup {
    margin: 70px auto 0 auto;

    p {
      margin: 20px auto;
      width: 90%;
      text-align: center;
      color: #697F87;
    }
    p:nth-child(1) {
      text-transform: uppercase;
    }
    p:nth-child(3) {
      margin: 70px auto 0 auto;
    }
  }

  .login__signup-button {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    text-transform: uppercase;
    height: 50px;
    width: 90%;
    margin: 0 auto;
  }
  .login {
    background-color: #fff;
  }
  .login-header {
    background-image: url('../assets/images/header-photo.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 11rem;
  }
  .title {
    text-align: center;
    margin-top: 1.5rem;
  }
  .title h2 {
    font-size: 1rem;
    font-weight: 600;
    color: #697F87;
  }
  .title h3 {
    margin-top: -5px;
    font-size: 1rem;
    font-weight: 400;
    color: #697F87;
  }
  input.email {
    margin-top: 3.2rem;
    margin-left: 2.3rem;

  }
  input.password {
    margin-top: 1rem;
    margin-left: 2.3rem;
  }
  p.forgot-password {
    margin-top: 4rem;
    font-size: .8rem;
    text-align: center;
  }

  .icon {
    position: absolute;
    width: 15px;
    height: auto;
    margin: 8px;
  }

  .icon.name {
    margin-top: 13px;
  }


  .icon.password {
    margin-top: 13px;
  }

  .homeclass-form__input {
    margin: 15px auto !important;
    width: 90%;
    color: #89A3AE !important;
    height: 45px !important;
    padding-left: 15px !important;
    padding-right: 10px;
  }
  .login-btn {
    background-color: #49C0BB;
    color: rgba(255,255,255,1.0);
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-size: 12.0px;
    font-style: normal;
    font-weight: 700;
    width: 100%;
    height: 3.4rem;
    border-radius: 5px;
    margin-top: 2.5rem;
    text-align: center;
    padding-top: 1rem;
  }
  p.signup-btn {
    margin-top: 2.8rem;
    font-size: .8rem;
    text-align: center;
  }

  .line-space {
    background-color: #D8D8D8;
    width: 100%;
    height: 1px;
    margin-top: .6rem;
  }

  .guia-login {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1000;
    opacity: .3;
    pointer-events: none;
  }




  @import "components/homeclass-header";
}
