.signup {


  .login__signin {
    display: block;
    height: 100%;
    background-size: cover;
  }

  .login__wrapper {
    background: #fff;
    width: 100%;
    height: auto;
    padding: 20px;
    position: relative;

  }

  p {
    color: #697F87;
  }
  select {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;
    appearance:none;
  }
  .login__logo {
    position: relative;
    z-index: 2;
    background-image: url('../assets/images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 90px;
    top: 90px;

  }
  .wcl_ext {
    background-color: rgba(73, 192, 187, 0.80);
    padding-top: 20px;
    padding-bottom: 1px;
  }
  .login__form {
    margin: 20px;
  }

  .login__signup {
    margin: 70px auto 0 auto;

    p {
      margin: 20px auto;
      width: 90%;
      text-align: center;
      color: #697F87;
    }
    p:nth-child(1) {
      text-transform: uppercase;
    }
    p:nth-child(3) {
      margin: 70px auto 0 auto;
    }
  }

  .login__signup-button {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    text-transform: uppercase;
    height: 50px;
    width: 90%;
    margin: 0 auto;
  }
  .login {
    background-color: #fff;
  }
  .login-header {
    background-image: url('../assets/images/header-photo.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 11rem;
  }
  .title {
    text-align: center;
    margin-top: 1.5rem;
  }
  .title h2 {
    display: inline-table;
    font-size: 1rem;
    font-weight: 600;
    color: #697F87;
  }
  .title h3 {
    margin-top: -5px;
    font-size: 1rem;
    font-weight: 400;
    color: #697F87;
  }
  input.email {
    margin-top: 3.2rem;
    margin-left: 2.3rem;
  }
  input.name {
    margin-top: .8rem;
    margin-left: 2.3rem;
  }
  input.password {
    margin-top: .8rem;
    margin-left: 2.3rem;
  }
  p.forgot-password {
    margin-top: 1.8rem;
    font-size: .8rem;
    text-align: center;
  }

  .icon {
    position: absolute;
    width: 15px;
    height: auto;
    margin: 8px;
  }

  .icon.password {
    margin-top: 13px;
  }

  .homeclass-form__input {
    margin: 15px auto !important;
    width: 90%;
    color: #89A3AE !important;
    height: 45px !important;
    padding-left: 15px !important;
    padding-right: 10px;
  }
  .login-btn {
    background-color: #49C0BB;
    color: rgba(255,255,255,1.0);
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-size: 12.0px;
    font-style: normal;
    font-weight: 700;
    width: 100%;
    height: 3.4rem;
    border-radius: 5px;
    margin-top: 2.5rem;
    text-align: center;
    padding-top: 1rem;
  }
  p.signup-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: .8rem;
    text-align: center;
  }

  .line-space {
    background-color: #D8D8D8;
    width: 100%;
    height: 1px;
    margin-top: .6rem;
  }
  input[type="radio"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
  }
  .tyc {
    margin-top: 2rem;
    font-size: .8rem;
    margin-left: .6rem;
  }
  .tyc input {
    position: relative;
    bottom: -3px;
    margin-right: .5rem;
  }
  .signup__place {
    width: 95%;
    margin: 0 auto;
    height: 60px;
    position: relative;
    top: -30px;
    background: white;
    -webkit-box-shadow: 0 0 15px 0 #C4D4DA;
    -moz-box-shadow: 0 0 15px 0 #C4D4DA;
    box-shadow: 0 0 15px 0 #C4D4DA;
    border-radius: 10px;
  }

  .signup__tutor-tab,
  .signup__teacher-tab {
    color: #B0C9D3;
    float: left;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;

    &.placed {
      font-weight: bold;
      background: #EDF2F5;
    }
  }

  .signup__tutor-tab {
    border-radius: 10px 0 0 10px;
  }

  .signup__teacher-tab {
    border-radius: 0 10px 10px 0;
  }

  .signup__form {
    margin: 0 20px;
    padding: 0 30px 20px 30px;
  }

  .signup__social {
    margin-bottom: 40px;
  }

  .signup__social-title {
    width: 30%;
    margin: 0 auto 10px auto;
    color: #576C74;
  }

  .signup__social-buttons {
    width: 80%;
    margin: 0 auto;
    height: auto;
    background: white;
    border-radius: 10px;

    .signup__facebook-button, .signup__google-button {
      float: left;
      width: 50%;
    }

    .signup__facebook-button {
      border-radius: 5px 0 0 5px;
    }
    .signup__google-button {
      border-radius: 0 5px 5px 0;
    }
  }

  .signup__facebook-button,
  .signup__google-button {
    color: #fff;
    height: 50px;
    text-align: left;
    vertical-align: middle;
    line-height: 40px;
    border: 0;

    i {
      width: 13px;
      margin: 0 10px 0 30px;
      font-size: larger;
    }
  }

  .signup__facebook-button {
    background: #375A9F;
  }

  .signup__google-button {
    background: #DD523F;
  }

  .signup__add-button {
    margin: 0 auto;
    width: 90%;
    background: none;
    border: 1px solid #FFFFFF;
    color: #89A3AE;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
    position: relative;

    i {
      color: #89A3AE !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
    }
  }
  .signup__width-fix {
    width: 90%;
    margin: 0 auto;
    display: table;
  }
  .signup__margin {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }


  .social {
    position: relative;
    width: 100%;
    height: auto;
  }

  .facebook-btn {
    display: inline-table;
    background-color: #445A9B;
    color: rgba(255,255,255,1.0);
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-size: 12.0px;
    font-style: normal;
    font-weight: 700;
    height: 3.6rem;
    border-radius: 5px;
    padding: 1rem .6rem .7rem 1.4rem;
    width: 49%;
    margin-right: 2px;
    img {
      height: 80%;
      width: auto;
    }
  }
  .google-btn {
    display: inline-table;
    background-color: #DD473B;
    color: rgba(255,255,255,1.0);
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-size: 12.0px;
    font-style: normal;
    font-weight: 700;
    width: 100%;
    height: 3.6rem;
    border-radius: 5px;
    padding: 1rem .6rem .7rem 1.4rem;
    width: 49%;
    img {
      height: 80%;
      width: auto;
    }
  }
}
