.welcome {
  
  .scroll {
    min-height:100vh;
  }
  ion-slides {
    background-color: #ccc;
    min-height:100vh;
  }
  .swiper-container {
    height: 100vh;
  }
  .header {
    background-color: #fff;
    color: #49C0BB;
    width: 100%;
    height: 50%;
    text-align: center;
  }
  .header img {
    width: 100%;
    height: auto;
    max-height: initial;
    /* margin-left: auto; */
    /* margin-right: auto; */
    padding: 10px 64px 10px 50px;

  }
  .footer {
    background-color: #49C0BB;
    color: #fff;
    width: 100%;
    height: 50%;
    padding-top: 20%;
    text-align: center;
  }
  .footer h1 {
    color: #fff;
    font-size: 1.2rem;
    padding: 20px 20px 0px 20px;
  }
  .footer p {
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 200;
  }

  .swiper-pagination-bullet {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 1);
  }

  .welcome-btn {
    background-color: #fff;
    color: #38CBC1;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-size: 12.0px;
    font-style: normal;
    font-weight: 700;
    width: 100%;
    height: 3.4rem;
    border-radius: 5px;
    text-align: center;
    padding-top: 1rem;
    display: inline-block;
  }

  .row-responsive {
    width: 100%;
    display: inline-flex;
  }



}


@import "components/homeclass-header";
