<ion-modal-view class="search-modal__wrapper">
  <ion-content scroll="false" class="search-modal__content">
    <div><h3 class="search-modal__title">¡Pronto!</h3></div>
    <div>
      <p class="search-modal__paragraph">
        Nuestra red está creciendo, pronto tendremos profesores disponibles en tu zona.
      </p>
    </div>
    <div class="homeclass__input-group">
      <input class="homeclass-form__input" ng-model="ctrl.formModal.email" type="text" placeholder="Correo eléctronico">
      <i class="modal-input_checkmark icon ion-ios-checkmark-empty"></i>
    </div>
    <div class="search-modal__close-content">
      <a ng-click="ctrl.modal.hide()" class="search-modal__close">
        Cerrar <i class="icon ion-ios-close-empty"></i>
      </a>
    </div>
  </ion-content>
</ion-modal-view>
