<svg width="15" height="20" viewBox="-1 -2 15 20" menu-toggle="right">
  <g fill="#49C0BB" fill-rule="evenodd" stroke="#49C0BB" stroke-width=".4">
    <path d="M12.93 14.13l-.87-1.6V8.6c0-2.44-1.7-4.5-4-5.15V1.48C8.06.68 7.4 0 6.54 0 5.7 0 5 .67 5 1.48v1.97c-2.3.65-4 2.7-4 5.14v3.9l-.87 1.6c-.17.3-.16.66.03.96.18.3.5.47.87.47H4.5c.07 1.03.95 1.85 2.03 1.85 1.08 0 1.97-.83 2.03-1.86h3.48c.36 0 .68-.18.87-.48.2-.3.2-.67.06-.97zM5.8 1.48c0-.38.34-.7.73-.7.4 0 .72.32.72.7v1.8c-.23-.02-.47-.04-.72-.04-.24 0-.48.02-.72.05V1.44zm-3.98 7.1c0-2.5 2.12-4.55 4.7-4.55 2.6 0 4.73 2.04 4.73 4.56v3.6H1.82V8.6zm4.7 8.06c-.62 0-1.14-.47-1.2-1.07h2.42c-.05.6-.58 1.07-1.2 1.07zm5.7-1.95c-.03 0-.08.05-.18.05h-11c-.12 0-.17-.06-.2-.1 0-.02-.04-.1 0-.18L1.7 13h9.7l.84 1.5c.05.08 0 .16 0 .2z"/><path d="M6.53 5.07c-2 0-3.63 1.58-3.63 3.52 0 .2.18.35.4.35.23 0 .4-.17.4-.4 0-1.47 1.3-2.7 2.84-2.7.23 0 .4-.18.4-.4 0-.2-.17-.4-.4-.4z"/>
  </g>
</svg>
