<ion-view view-title="Registrar" hide-nav-bar="true">
  <ion-content class="signup">
    <div class="login__signin">
      <div class="login-header">
        <div class="login__logo"></div>
      </div>
      <div class="login__wrapper">
        <div class="title">
          <h2>HOMECLASS</h2>
          <h3>BIENVENIDO DE VUELTA</h3>
        </div>
        <div class="login__form">
          <div>
            <img src="auth/assets/images/login-icon.png" class="icon login">
            <input class="email" type="text" ng-model="reg.email" placeholder="Correo electrónico">
            <div class="line-space"></div>
          </div>
          <div>
            <img src="auth/assets/images/login-icon.png" class="icon login">
            <input class="name" type="text" ng-model="alumno.nombre" placeholder="Nombre Alumno">
            <div class="line-space"></div>
          </div>
          <div>
            <img src="auth/assets/images/password-icon.png" class="icon password">
            <input class="password" type="password" ng-model="reg.clave" placeholder="Contraseña">
            <div class="line-space"></div>
          </div>

          <p class="tyc">
            <label class=""><input ng-model="reg.acepto" type="checkbox" id="terms" /> Acepto los <a href="http://google.com">Términos y condiciones</a></label>
          </p>
          <div class="login-btn" ng-click="registroApoderado();">Continuar</div>
          <p class="signup-btn">O regístrate con</p>
          <div class="social">
            <div class="facebook-btn" ng-click="registroFacebook();">
              <img src="auth/assets/images/facebook.png">
            </div>
            <div class="google-btn" ng-click="registroGoogle();">
              <img src="auth/assets/images/google.png">
            </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
