<ion-view view-title="Ingresar" hide-nav-bar="true">
  <ion-content scroll="true" class="welcome">
    <ion-slides [options]="{pager: true}" options="true" slider="slider" auto-play="false">
      <ion-slide-page>
        <div class="header">
          <img src="auth/assets/images/slide1.png">
        </div>
        <div class="footer">
          <h1>BIENVENIDO A HOMECLASS</h1>
          <p>La app que te permite aprender desde la comodidad de tu hogar.</p>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="header">
          <img src="auth/assets/images/slide2.png">
        </div>
        <div class="footer">
          <h1>DISTINTOS METODOS DE ESTUDIO</h1>
          <p>Escoge al profesor que mas se acomode a tu horario y a tu manera de aprender.</p>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="header">
          <img src="auth/assets/images/slide3.png">
        </div>
        <div class="footer">
          <h1>PROFESORES CALIFICADOS</h1>
          <p>Puedes escoger entre profesores o estudiantes de la asignatura.</p>
          <div class ="row-responsive">
            <div class="col col-50">
              <div class="welcome-btn" ng-click="goSignup();">Regístrate</div>
            </div>
            <div class="col col-50">
              <div class="welcome-btn" ng-click="goLogin();">Iniciar Sesión</div>
            </div>

          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
