<ion-view view-title="Ingresar" hide-nav-bar="true">
  <ion-content scroll="true" class="login">
    <img src="auth/assets/images/guia-login.jpg" class="guia-login">
    <div class="login__signin">
      <div class="login-header">
        <div class="login__logo"></div>
      </div>
      <div class="login__wrapper">
        <div class="title">
          <h2>HOMECLASS</h2>
          <h3>BIENVENIDO DE VUELTA</h3>
        </div>
        <div class="login__form">
          <div>
            <img src="auth/assets/images/login-icon.png" class="icon login">
            <input class="email" type="text" ng-model="login.user" placeholder="Correo electrónico / RUT">
            <div class="line-space"></div>
          </div>
          <div>
            <img src="auth/assets/images/password-icon.png" class="icon password">
            <input class="password" type="password" ng-model="login.pass" placeholder="Contraseña">
            <div class="line-space"></div>
          </div>

          <p class="forgot-password">¿Olvidaste tu contraseña? Recuperar <b>acá</b></p>
          <div class="login-btn" ng-click="goLogin();">Ingresar</div>
          <p class="signup-btn" ui-sref="signup_tutor">¿No tienes una cuenta? Regístrate <b>acá</b></p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
