<ion-view view-title="Registrar" hide-nav-bar="true">
  <ion-content>
    <homeclass-header></homeclass-header>
    <div class="signup__place">

      <div class="signup__tutor-tab">
        <div ui-sref="signup_tutor">Apoderado</div>
      </div>

      <div class="signup__teacher-tab placed">
        <div ui-sref="signup_teacher">Profesor</div>
      </div>

    </div>
    <div class="signup__form">
      <input class="homeclass-form__input" ng-model="reg.nombre" type="text" placeholder="Nombre">
      <!--<input class="homeclass-form__input" type="text" placeholder="Nombre alumno">-->
      <input class="homeclass-form__input" ng-model="reg.pass" type="password" placeholder="Contraseña">
      <div class="homeclass__input-group">

        <div class="homeclass-form__select-group">
          <select class="homeclass-form__select" ng-model="reg.area">
            <option value="" selected>Área de trabajo (Máx. 5)</option>
            <option value="Matemáticas">Matemáticas</option>
            <option value="Ingles">Ingles</option>
            <option value="Lenguaje y Comunicación">Lenguaje y Comunicación</option>
            <option value="Historia">Historia</option>
          </select>
          <i class="homeclass-form__select-chevron icon ion-ios-arrow-down"></i>
        </div>

        <button class="signup__add-button"><i class="icon ion-ios-plus-empty"></i></button>
      </div>
      <div class="homeclass__input-group">
        <div class="homeclass-form__select-group">
          <select class="homeclass-form__select" ng-model="reg.horario">
            <option value="" disabled selected>Horarios</option>
            <option value="08:20 a 09:20 am">08:20 a 09:20 am</option>
            <option value="09:40 a 10:40 am">09:40 a 10:40 am</option>
            <option value="11:00 a 12:00 pm">11:00 a 12:00 pm</option>
            <option value="12:20 a 13:20 pm">12:20 a 13:20 pm</option>
            <option value="13:40 a 14:40 pm">13:40 a 14:40 pm</option>
            <option value="15:00 a 16:00 pm">15:00 a 16:00 pm</option>
            <option value="16:20 a 17:20 pm">16:20 a 17:20 pm</option>
            <option value="17:40 a 18:40 pm">17:40 a 18:40 pm</option>
          </select>
          <i class="homeclass-form__select-chevron icon ion-ios-arrow-down"></i>
        </div>
        <button class="signup__add-button"><i class="icon ion-ios-plus-empty"></i></button>
      </div>

      <div class="homeclass-form__select-group signup__width-fix">
        <select class="homeclass-form__select" ng-model="reg.empleo">
          <option value="" disabled selected>Profesión</option>
          <option value="Estudiante">Estudiante</option>
          <option value="Independiente">Independiente</option>
          <option value="Dependiente">Dependiente</option>
          <option value="Sin empleo">Sin empleo</option>
          <option value="Dueño(a) de casa">Dueño(a) de casa</option>
        </select>
        <i class="homeclass-form__select-chevron icon ion-ios-arrow-down"></i>
      </div>

      <ion-checkbox class="homeclass-form__check signup__margin" ng-model="isChecked">Estudiante universitario</ion-checkbox>

      <div class="homeclass-form__select-group signup__width-fix">
        <select class="homeclass-form__select" ng-model="reg.lugarestudio">
          <option value="" disabled selected>Institución de estudio</option>
          <option value="Publica">Publica</option>
          <option value="Privada">Privada</option>
        </select>
        <i class="homeclass-form__select-chevron icon ion-ios-arrow-down"></i>
      </div>

      <div class="homeclass-form__file-group signup__width-fix">
        <span class="homeclass-form__file-text">Titulo profesional</span>
        <i class="homeclass-form__file-icon icon ion-paperclip"></i>

        <input class="homeclass-form__input-file" type="file">
      </div>

      <div class="homeclass-form__file-group signup__width-fix">
        <span class="homeclass-form__file-text">Certificado Registro Cívil</span>
        <i class="homeclass-form__file-icon icon ion-paperclip"></i>

        <input class="homeclass-form__input-file" type="file">
      </div>

      <div class="homeclass-form__file-group signup__width-fix">
        <span class="homeclass-form__file-text">Curriculum Vitae</span>
        <i class="homeclass-form__file-icon icon ion-paperclip"></i>

        <input class="homeclass-form__input-file" type="file">
      </div>
      <homeclass-button text="Registrarme" ng-click="registrar();"></homeclass-button>
    </div>
  </ion-content>
</ion-view>
