<ion-view view-title="Perfil" hide-nav-bar="true">
  <ion-content>
    <homeclass-header-profile avatar="{{ ctrl.profile.avatar }}" cover="{{ ctrl.profile.cover }}"></homeclass-header-profile>

    <div class="add__form-wrapper">
      <div class="add__form">

        <h1 class="add__form-title">Agregar <strong>Nuevo alumno</strong></h1>

        <label class="homeclass-form__label">Nombre</label>
        <div class="profile__input-wrapper">
          <input class="homeclass-form__input" type="text" placeholder="Nombre">
        </div>

        <label class="homeclass-form__label">Correo Electronico</label>
        <div class="profile__input-wrapper">
          <input class="homeclass-form__input" type="email" placeholder="Correo Electronico">
        </div>

        <homeclass-button class="add__form-button" text="Agregar"></homeclass-button>
      </div>
    </div>

  </ion-content>
</ion-view>
