<ion-view view-title="Solicitud cambio de profesor">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <div class="homeclass__box change__box">
      <p class="change__title">Selecciona <strong>una clase y profesor</strong></p>

      <div class="homeclass-form__select-group change__select">
        <select class="homeclass-form__select" ng-change="cambio();" ng-model="cambio.str">
          <option value="" selected>Selecciona una clase</option>
          <option value="{{agenda.id}}" ng-repeat="agenda in agendas">{{$root.convertToDate(agenda.dia) | date:'dd/MM/yyyy'}} {{agenda.inicio}} - {{agenda.nombre}}</option>
        </select>
        <i class="homeclass-form__select-chevron icon ion-ios-arrow-down"></i>
      </div>
    </div>
    <div class="results__clean">
      <h4>Selecciona un profesor y una clase para solicitar el cambio</h4>
      Se mostrarán todas las clases pendientes con el profesor para que elijas cual cambiar, el sistema mostrará profesores con disponibilidad en el mismo horario
    </div>
    <div class="results__item change__padding-bottom" ng-if="never">
      <div class="results__user-avatar" ng-style="{'background-image': 'url(' + ctrl.teacher.avatar + ')'}"></div>

      <div class="results__user-info">
        <p class="results__user-name">{{ ctrl.teacher.name }}</p>
        <p class="results__user-lesson">{{ ctrl.teacher.lesson }}</p>
        <p class="results__user-university">{{ ctrl.teacher.university }}</p>

        <div class="results__user-rating">
          <rating ng-model="ctrl.teacher.rating" readonly="true" max="ctrl.maxRating"></rating>
          <span class="results__user-percentage">100%</span>
          <img src="main/assets/images/like.svg" />
        </div>
      </div>
    </div>

    <div class="change__details" ng-if="never">
      <p class="change__details-title">Motivos del cambio</p>
      <textarea class="change__details-textarea" placeholder="Tu mensaje"></textarea>
      <button class="homeclass__orange-full change__button">Solicitar</button>
    </div>

  </ion-content>
</ion-view>
