<ion-view view-title="Control de Proceso">
  <ion-content>

    <div class="homeclass__box control__box">
      <p class="evaluation__title">SELECCIONA <strong>PROFESOR Y ALUMNO</strong></p>

      <div class="homeclass-form__select-group">
        <select class="homeclass-form__select" ng-model="control.profesor" ng-change="buscarAlumno();">
          <option value="0">Profesor</option>
          <option value="{{profesor.id}}" ng-repeat="profesor in profesores">{{profesor.nombre}}</option>
        </select>
        <i class="homeclass-form__select-chevron icon ion-ios-arrow-down"></i>
      </div>
      <br /><br />
      <div class="homeclass-form__select-group">
        <select class="homeclass-form__select" ng-model="control.alumno" ng-change="filtrarAlumno();">
          <option value="0">Alumno</option>
          <option value="{{alumno.id}}" ng-repeat="alumno in alumnos">{{alumno.alumno}}</option>
        </select>
        <i class="homeclass-form__select-chevron icon ion-ios-arrow-down"></i>
      </div>

    </div>
    <div class="homeclass-control_process" ng-if="porc">
      <div class="homeclass-control_process-symbology">
        <div class="control__center">
          <div class="process-symbology-bar"></div>
          <span>Clases total / realizadas</span>
        </div>
      </div>



      <div class="control__progress-bar" ng-if="porc">

        <!-- Circular Progress Bar Color -->
        <div class="control__color-absolute">
          <svg>
            <linearGradient x1="59.4608966%" y1="9.3463678%" x2="9.84538613%" y2="57.7756872%" id="gradient">
              <stop stop-color="#FFBC6C" offset="0%"></stop>
              <stop stop-color="#FD9011" offset="100%"></stop>
            </linearGradient>
          </svg>
        </div>

        <div class="control__circle-background">
          <round-progress
            max="100"
            current="porcentaje"
            color="url(#gradient)"
            bgcolor="#B0C9D3"
            radius="100"
            stroke="20"
            backstroke="5"
            semi="false"
            rounded="false"
            clockwise="true"
            responsive="false"
            duration="800"
            animation="easeInOutQuart"
            animation-delay="0"></round-progress>

          <span class="control__circle-percentage">{{ porcentaje }}%</span>
        </div>

      </div>

      <!--
      <div class="homeclass-control_process-details">
        <div class="process-details-plan">
          PLAN MENSUAL
        </div>
        <div class="process-details-plan-detail">
          Detalles
        </div>
      </div>
      -->
    </div>

    <!--
    <div class="homeclass-control_list">
      <h5>TUS CLASES</h5>
      <div class="homeclass-control_list-classes ready">
          <div class="list-classes-phase">Clase 1</div>
          <div class="list-classes-date">06/01/2017
            <div class="list-classes-img">
              <svg width="18" height="19" viewBox="246 90 18 19"><g fill-rule="evenodd"><path d="M263.376 91.11h-3.574v-.55c0-.31-.244-.56-.545-.56-.3 0-.546.25-.546.56v.55h-3.185v-.55c0-.31-.245-.56-.546-.56-.302 0-.546.25-.546.56v.55h-3.05v-.55c0-.31-.246-.56-.547-.56-.3 0-.545.25-.545.56v.55h-3.71c-.3 0-.545.25-.545.56v12.626c0 .308.244.558.545.558h3.348c.536 2.35 2.596 4.103 5.05 4.103 2.452 0 4.512-1.754 5.048-4.103h3.348c.3 0 .546-.25.546-.558V91.67c0-.31-.244-.56-.546-.56zm-13.084 1.118v.505c0 .308.244.558.545.558.3 0 .546-.25.546-.557v-.505h3.05v.505c0 .308.245.558.546.558.3 0 .545-.25.545-.557v-.505h3.186v.505c0 .308.246.558.547.558.3 0 .545-.25.545-.557v-.505h3.03v2.285h-15.704v-2.285h3.164zm4.687 15.612c-2.26 0-4.097-1.883-4.097-4.196 0-2.314 1.838-4.196 4.096-4.196s4.095 1.882 4.095 4.196c0 2.313-1.837 4.196-4.096 4.196zm5.184-4.103l.002-.093c0-2.93-2.327-5.314-5.187-5.314-2.86 0-5.187 2.384-5.187 5.314 0 .03 0 .062.002.093h-2.667V95.63h15.703v8.107h-2.666z"/><path d="M255.525 103.785v-2.704c0-.307-.245-.558-.546-.558-.302 0-.546.25-.546.56v2.934c0 .148.057.29.16.395l1.253 1.286c.107.11.246.164.386.164s.28-.055.386-.164c.212-.218.212-.572 0-.79l-1.095-1.12z"/></g></svg>
            </div>
          </div>
          <div class="list-classes-line"></div>
      </div>
      <div class="homeclass-control_list-classes current">
        <div class="list-classes-phase">Clase 2</div>
        <div class="list-classes-date">13/01/2017
          <div class="list-classes-img">
            <svg width="18" height="19" viewBox="246 90 18 19"><g fill-rule="evenodd"><path d="M263.376 91.11h-3.574v-.55c0-.31-.244-.56-.545-.56-.3 0-.546.25-.546.56v.55h-3.185v-.55c0-.31-.245-.56-.546-.56-.302 0-.546.25-.546.56v.55h-3.05v-.55c0-.31-.246-.56-.547-.56-.3 0-.545.25-.545.56v.55h-3.71c-.3 0-.545.25-.545.56v12.626c0 .308.244.558.545.558h3.348c.536 2.35 2.596 4.103 5.05 4.103 2.452 0 4.512-1.754 5.048-4.103h3.348c.3 0 .546-.25.546-.558V91.67c0-.31-.244-.56-.546-.56zm-13.084 1.118v.505c0 .308.244.558.545.558.3 0 .546-.25.546-.557v-.505h3.05v.505c0 .308.245.558.546.558.3 0 .545-.25.545-.557v-.505h3.186v.505c0 .308.246.558.547.558.3 0 .545-.25.545-.557v-.505h3.03v2.285h-15.704v-2.285h3.164zm4.687 15.612c-2.26 0-4.097-1.883-4.097-4.196 0-2.314 1.838-4.196 4.096-4.196s4.095 1.882 4.095 4.196c0 2.313-1.837 4.196-4.096 4.196zm5.184-4.103l.002-.093c0-2.93-2.327-5.314-5.187-5.314-2.86 0-5.187 2.384-5.187 5.314 0 .03 0 .062.002.093h-2.667V95.63h15.703v8.107h-2.666z"/><path d="M255.525 103.785v-2.704c0-.307-.245-.558-.546-.558-.302 0-.546.25-.546.56v2.934c0 .148.057.29.16.395l1.253 1.286c.107.11.246.164.386.164s.28-.055.386-.164c.212-.218.212-.572 0-.79l-1.095-1.12z"/></g></svg>
          </div>
        </div>

      </div>
      <div class="homeclass-control_list-classes">
        <div class="list-classes-phase">Clase 3</div>
        <div class="list-classes-date">Agendar
          <div class="list-classes-img">
            <svg width="18" height="19" viewBox="246 90 18 19"><g fill-rule="evenodd"><path d="M263.376 91.11h-3.574v-.55c0-.31-.244-.56-.545-.56-.3 0-.546.25-.546.56v.55h-3.185v-.55c0-.31-.245-.56-.546-.56-.302 0-.546.25-.546.56v.55h-3.05v-.55c0-.31-.246-.56-.547-.56-.3 0-.545.25-.545.56v.55h-3.71c-.3 0-.545.25-.545.56v12.626c0 .308.244.558.545.558h3.348c.536 2.35 2.596 4.103 5.05 4.103 2.452 0 4.512-1.754 5.048-4.103h3.348c.3 0 .546-.25.546-.558V91.67c0-.31-.244-.56-.546-.56zm-13.084 1.118v.505c0 .308.244.558.545.558.3 0 .546-.25.546-.557v-.505h3.05v.505c0 .308.245.558.546.558.3 0 .545-.25.545-.557v-.505h3.186v.505c0 .308.246.558.547.558.3 0 .545-.25.545-.557v-.505h3.03v2.285h-15.704v-2.285h3.164zm4.687 15.612c-2.26 0-4.097-1.883-4.097-4.196 0-2.314 1.838-4.196 4.096-4.196s4.095 1.882 4.095 4.196c0 2.313-1.837 4.196-4.096 4.196zm5.184-4.103l.002-.093c0-2.93-2.327-5.314-5.187-5.314-2.86 0-5.187 2.384-5.187 5.314 0 .03 0 .062.002.093h-2.667V95.63h15.703v8.107h-2.666z"/><path d="M255.525 103.785v-2.704c0-.307-.245-.558-.546-.558-.302 0-.546.25-.546.56v2.934c0 .148.057.29.16.395l1.253 1.286c.107.11.246.164.386.164s.28-.055.386-.164c.212-.218.212-.572 0-.79l-1.095-1.12z"/></g></svg>
          </div>
        </div>

      </div>
      <div class="homeclass-control_list-classes">
        <div class="list-classes-phase">Clase 4</div>
        <div class="list-classes-date">Agendar
          <div class="list-classes-img">
            <svg width="18" height="19" viewBox="246 90 18 19"><g fill-rule="evenodd"><path d="M263.376 91.11h-3.574v-.55c0-.31-.244-.56-.545-.56-.3 0-.546.25-.546.56v.55h-3.185v-.55c0-.31-.245-.56-.546-.56-.302 0-.546.25-.546.56v.55h-3.05v-.55c0-.31-.246-.56-.547-.56-.3 0-.545.25-.545.56v.55h-3.71c-.3 0-.545.25-.545.56v12.626c0 .308.244.558.545.558h3.348c.536 2.35 2.596 4.103 5.05 4.103 2.452 0 4.512-1.754 5.048-4.103h3.348c.3 0 .546-.25.546-.558V91.67c0-.31-.244-.56-.546-.56zm-13.084 1.118v.505c0 .308.244.558.545.558.3 0 .546-.25.546-.557v-.505h3.05v.505c0 .308.245.558.546.558.3 0 .545-.25.545-.557v-.505h3.186v.505c0 .308.246.558.547.558.3 0 .545-.25.545-.557v-.505h3.03v2.285h-15.704v-2.285h3.164zm4.687 15.612c-2.26 0-4.097-1.883-4.097-4.196 0-2.314 1.838-4.196 4.096-4.196s4.095 1.882 4.095 4.196c0 2.313-1.837 4.196-4.096 4.196zm5.184-4.103l.002-.093c0-2.93-2.327-5.314-5.187-5.314-2.86 0-5.187 2.384-5.187 5.314 0 .03 0 .062.002.093h-2.667V95.63h15.703v8.107h-2.666z"/><path d="M255.525 103.785v-2.704c0-.307-.245-.558-.546-.558-.302 0-.546.25-.546.56v2.934c0 .148.057.29.16.395l1.253 1.286c.107.11.246.164.386.164s.28-.055.386-.164c.212-.218.212-.572 0-.79l-1.095-1.12z"/></g></svg>
          </div>
        </div>
      </div>
      -->
    </div>


  </ion-content>
</ion-view>
