<ion-view view-title="Mis Créditos" hide-back-button="true">
  <!-- do you want padding? -->
  <ion-content>

    <!-- content goes here -->
    <div class="homeclass__box results__box">
      <!--<div class="results__back" ng-click="goBack();">
        <i class="icon ion-ios-arrow-thin-left"></i> Volver
      </div>-->
      <p class="results__title"><strong>Mis créditos</strong></p>

      <h1 class="results__lesson">Tienes {{creditos}} creditos disponibles</h1>
      <button class="button button-small button-calm" ng-click="addcreditos();">Agrega créditos</button>
    </div>
    <br />
    <div class="homeclass__box results__box">
     <!-- <div class="results__back" ng-click="goBack();">
        <i class="icon ion-ios-arrow-thin-left"></i> Volver
      </div>-->
      <p class="results__title"><strong>Mis compras</strong></p>

      <!--<div class="homeclass-control_list-classes" style="width: 100%; margin: 0; text-align:left;" >-->
        <ion-item ng-repeat="compra in compras">
          <div class="row">
            <div class="col col-50">#{{compra.id}}</div>
            <div class="col col-50">{{compra.newdate | date: 'dd/MM/yyyy' }}</div>
          </div>
          <div class="row">
            <div class="col col-50">Compra de <b>{{compra.creditos}}</b> creditos<br /><i>Plan {{compra.plan_nombre}}</i></div>
          </div>
        </ion-item>
      <!--</div>-->
      <br /><br /><br />
      
    </div>
    <div style="clear:both;"></div>

  </ion-content>
</ion-view>
