<ion-view view-title="Historial de Clases">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <div class="homeclass__box history-teacher__box">
      <div class="homeclass-history__list" ng-repeat="history in ctrl.histories">
        <div class="homeclass-history__list-top">
          <div class="homeclass-history__list-plan">
            {{ history.plan }}
          </div>
          <div class="homeclass-history__list-detail" ng-class="{active: ctrl.isGroupShown(history.id)}" ng-click="ctrl.toggleGroup(history.id)">
            {{ ctrl.isGroupShown(history.id) ? 'Ocultar' : 'Detalles' }} <i class="icon" ng-class="ctrl.isGroupShown(history.id) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="homeclass-history__list-bottom">
          <h4> {{ history.signature }} </h4>
        </div>
        <div class="homeclass-history__list-bottom-detail">
          <div class="homeclass-history__detail-content"  ng-show="ctrl.isGroupShown(history.id)">
            <div class="homeclass-history__detail-status">
              <span class="homeclass-history__detail-sub">Estado</span>: {{ history.details.status }}
            </div>
            <div class="homeclass-history__detail-teacher">
              <span class="homeclass-history__detail-sub">Alumno</span>: {{ history.details.student }}
            </div>
            <div class="homeclass-history__detail-date">
              {{ history.details.date }}
            </div>
            <div class="homeclass-history__detail-rating">
              <rating ng-model="history.details.rating" readonly="true" max="ctrl.maxRating"></rating>
              <span class="homeclass-history__detail-teacher-percentage">{{ history.details.percentage }}%</span>
              <img src="main/assets/images/like.svg" />
            </div>
            <div class="homeclass-history__detail-pay">
              <span class="homeclass-history__detail-sub">INGRESO</span>: ${{ history.details.pay }}
            </div>
          </div>
        </div>
      </div>
      <div class="homeclass-history__bottom">
        Total de <strong>ingresos</strong> a la fecha
      </div>
    </div>
    <div class="homeclass__box history__bottom-box">
      ${{ '365.000' }} clp
    </div>
  </ion-content>
</ion-view>
