<ion-view view-title="Historial de Clases">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <div class="homeclass__box history__box">
        <div class="results__clean" ng-if="class.length == 0"><h4>No tienes clases pasadas</h4></div>

        <div class="homeclass-history__list" ng-if="class.length > 0" ng-repeat="history in class">
            <div class="homeclass-history__list-top">
              <div class="homeclass-history__list-plan">
                {{ $root.convertToDate(history.dia) | date:'dd/MM/yyyy' }}
              </div>
              <div class="homeclass-history__list-detail" ng-class="{active: ctrl.isGroupShown(history.id)}" ng-click="ctrl.toggleGroup(history.id)">
                {{ ctrl.isGroupShown(history.id) ? 'Ocultar' : 'Detalles' }} <i class="icon" ng-class="ctrl.isGroupShown(history.id) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
              </div>
            </div>
             <div class="clearfix"></div>
            <div class="homeclass-history__list-bottom">
                <h4> {{ history.signature }} </h4>
            </div>
            <div class="homeclass-history__list-bottom-detail">
              <div class="homeclass-history__detail-content"  ng-show="ctrl.isGroupShown(history.id)">
                <div class="homeclass-history__detail-status">
                  <span class="homeclass-history__detail-sub">Estado</span>: {{ history.status }}
                </div>
                <div class="homeclass-history__detail-teacher">
                  <span class="homeclass-history__detail-sub">Profesor</span>: {{ history.profesor_name }}
                </div>
                <div class="homeclass-history__detail-date">
                  {{ $root.convertToDate(history.dia) | date:'dd/MM/yyyy' }}
                </div>
                <!--
                <div class="homeclass-history__detail-rating">
                  <rating ng-model="history.details.rating" readonly="true" max="ctrl.maxRating"></rating>
                  <span class="homeclass-history__detail-teacher-percentage">78%</span>
                  <img src="main/assets/images/like.svg" />
                </div>
                -->
              </div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
