<ion-side-menus enable-menu-with-back-views="false">

  <!-- CONTENT -->
  <ion-side-menu-content class="homeclass__background">

    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar class="bar-homeclass" align-title="center">
      <!-- back button, shown if applicable -->

      <!-- nav button, shown if applicable -->
      <div class="homeclass__navbar-left">
        <hamburger menu-toggle="left"></hamburger>
      </div>

      <div class="homeclass__navbar-right">
        <div class="nbell" ng-show="$root.qtynotify > 0">{{$root.qtynotify}}</div>
        <bell menu-toggle="right"></bell>
      </div>

    </ion-nav-bar>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view class="homeclass__nav-view" name="pageContent"></ion-nav-view>

  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu width="250" side="left">

    <!-- menu header -->
    <ion-header-bar class="bar-homeclass menu__sidebar-header">
      <button class="menu__sidebar-close" menu-close><i class="icon ion-ios-close-empty"></i></button>

      <a href="#" ui-sref="main.profile" menu-close>
        <div class="menu__sidebar-avatar">
          <img class="edit_icon" src="main/assets/images/menu/edit_icon.png"/>
          <img class="menu__sidebar-image" src="{{$root.avatar}}" alt="Profile Image" />
        </div>
        <h3 class="name">{{$root.me.nombre}}</h3>

      </a>
    </ion-header-bar>

    <div class="row responsive-sm">
      <div class="col col-50">
        <img src="main/assets/images/menu/home_icon.png" />
      </div>
      <div class="col col-50">
        <p>Agendar nueva clase</p>
      </div>
    </div>

   <!-- <ion-content class="menu">
      <ion-list class="">
        <ion-item menu-toggle="left" ui-sref="main.search"  ng-if="$root.soyApoderado">
          <div class="">

          </div>
          <div class="menu__text">Inicio</div>
        </ion-item>

        <ion-item menu-toggle="left" ui-sref="main.search" ng-if="$root.soyApoderado">
          <div class="">
            <img src="main/assets/images/menu/agenda_icon.png" />
          </div>
          <div class="menu__text">Agendar nueva clase</div>
        </ion-item>

        <ion-item menu-toggle="left" ui-sref="main.search" ng-if="$root.soyApoderado">
          <div class="">
            <img src="main/assets/images/menu/progreso_icon.png" />
          </div> <div class="menu__text">Nivel de progreso</div>
        </ion-item>

        <ion-item menu-toggle="left" ui-sref="main.search" ng-if="$root.soyApoderado">
          <div class="">
            <img src="main/assets/images/menu/cuenta_icon.png" />
          </div> <div class="menu__text">Estado de cuenta</div>
        </ion-item>

        <ion-item menu-toggle="left" ui-sref="main.search" ng-if="$root.soyApoderado">
          <div class="">
            <img src="main/assets/images/menu/evaluar_icon.png" />
          </div> <div class="menu__text">Evaluar profesor</div>
        </ion-item>

        <ion-item menu-toggle="left" ui-sref="main.search" ng-if="$root.soyApoderado">
            <img src="main/assets/images/menu/chat_icon.png" />
            <div class="menu__text">Chat Homeclass</div>
        </ion-item>

        <ion-item menu-toggle="left" ui-sref="main.search" ng-if="$root.soyApoderado">
          <div class="">
            <img src="main/assets/images/menu/historial_icon.png" />
          </div> <div class="menu__text">Historial de Clases</div>
        </ion-item>

      </ion-list>
    </ion-content>
-->
    <!-- menu content
    <ion-content class="menu__sidebar-content">
      <ion-list class="menu__sidebar-items">
        <ion-item menu-toggle="left" ui-sref="main.search" ng-if="$root.soyApoderado">
          <div class="menu__sidebar-img">
            <img src="main/assets/images/search-menu.svg" />
          </div> <div class="menu__text">Buscador</div>
        </ion-item>
        <ion-item menu-toggle="left" ui-sref="main.evaluation" ng-if="$root.soyApoderado">
          <div class="menu__sidebar-img">
            <img src="main/assets/images/evaluation-menu.svg" />
          </div> <div class="menu__text">Evaluación</div>
        </ion-item>
        <ion-item ng-if="jaja" menu-toggle="left" ui-sref="main.calendar" ng-if="$root.soyApoderado">
          <div class="menu__sidebar-img">
            <img src="main/assets/images/calendar-menu.svg" />
          </div> <div class="menu__text">Calendario</div>
        </ion-item>
        <ion-item menu-toggle="left" ui-sref="main.agenda" ng-if="$root.soyApoderado">
          <div class="menu__sidebar-img">
            <img src="main/assets/images/calendar-menu.svg" />
          </div> <div class="menu__text">Mi Agenda</div>
        </ion-item>
        <ion-item menu-toggle="left" ui-sref="main.credits" ng-if="$root.soyApoderado">
          <div class="menu__sidebar-img">
            <img src="main/assets/images/control-menu.svg" />
          </div> <div class="menu__text">Mis creditos</div>
        </ion-item>

        <ion-item menu-toggle="left" ui-sref="main.control" ng-if="$root.soyApoderado">
          <div class="menu__sidebar-img">
            <img src="main/assets/images/control-menu.svg" />
          </div> <div class="menu__text">Control de Proceso</div>
        </ion-item>

        <ion-item menu-toggle="left" ui-sref="main.change" ng-if="$root.soyApoderado">
          <div class="menu__sidebar-img">
            <img src="main/assets/images/change-menu.svg" />
          </div> <div class="menu__text">Cambio profesor</div>
        </ion-item>
        <ion-item menu-toggle="left" ui-sref="main.history_tutor" ng-if="$root.soyApoderado">
          <div class="menu__sidebar-img">
            <img src="main/assets/images/history-menu.svg" />
          </div> <div class="menu__text">Historial de Clases</div>
        </ion-item>



        <ion-item menu-toggle="left" ui-sref="main.profehome" ng-if="$root.soyProfesor">
          <div class="menu__sidebar-img">
            <img src="main/assets/images/search-menu.svg" />
          </div> <div class="menu__text">Inicio</div>
        </ion-item>
        <ion-item menu-toggle="left" ui-sref="main.agenda" ng-if="$root.soyProfesor">
          <div class="menu__sidebar-img">
            <img src="main/assets/images/calendar-menu.svg" />
          </div> <div class="menu__text">Mis clases</div>
        </ion-item>
        <ion-item menu-toggle="left" ui-sref="main.creditosprofe" ng-if="$root.soyProfesor">
          <div class="menu__sidebar-img">
            <img src="main/assets/images/control-menu.svg" />
          </div> <div class="menu__text">Mis creditos</div>
        </ion-item>


      </ion-list>


      <a class="menu__sidebar-links menu__padding-top" ng-click="$root.comparte();">Comparte nuestra APP</a>
      <a class="menu__sidebar-links" menu-toggle="left" ui-sref="main.faq">Preguntas frecuentes</a>
      <a class="menu__sidebar-links" ng-click="$root.contacto();">Contáctanos</a>
      <a class="menu__sidebar-links" ng-click="$root.cerrarSesion();">Cerrar sesión</a>
      <br />
    </ion-content> -->

  </ion-side-menu>
  <ion-side-menu width="250" side="right">

    <ion-content class="menu__sidebar-content2">
      <ion-list class="menu__sidebar-items2">
        <ion-item><div class="menu__text text-right">Notificaciones</div></ion-item>
      </ion-list>

      <div ng-if="$root.minnotify == 0" class="notify_none">
       No tienes notificaciones
      </div>

      <div ng-if="$root.minnotify > 0" class="notify_none">
        <div class="item item-notify {{not.readed == 0 ? 'unread-notify' : ''}}" ng-click="openNotify(not)" ng-repeat="not in $root.notify">
          <div class="row">
            <div class="col-25">
              <div class="results__user-avatar" style="width:40px;height:40px;" ng-style="{'background-image': 'url(' + not.avatar + ')'}"></div>
            </div>
            <div class="col-75 item-text-wrap">
              <div class="text-right" style="font-weight:normal;">{{$root.convertToDate(not.fecha) | date:'dd/MM/yyyy'}}</div>
              <div class="text-right item-text-wrap">{{not.texto}}</div>
            </div>
          </div>
        </div>
      </div>
    </ion-content>

  </ion-side-menu>
</ion-side-menus>
