  <ion-modal-view class="reagendar">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-icon button-clear" ng-click="closeOpenedNotify()"><i class="icon ion-close"></i></button>
    </div>
    <h1 class="title">NOTIFICACIONES</h1>
  </ion-header-bar>
  <ion-content>
      <div class="results__item" style="background-color: white;">
        <div class="results__user-avatar" ng-style="{'background-image': 'url(' + openedNotify.avatar + ')'}"></div>

        <div class="results__user-info">
            <h4>{{ openedNotify.texto }}</h4>
            <p ng-bind-html="openedNotify.ext">
            </p>
            <br /><br />
            <button class="homeclass__orange-full search__button" ng-show="openedNotify.aceptado == 0" ng-click="notifyOk(openedNotify.id);">ACEPTADO</button>
            <h3 ng-show="openedNotify.aceptado == 1">Notificación aceptada.</h3>
        </div>
      </div>

  </ion-content>
</ion-modal-view>
