  <ion-modal-view class="reagendar">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-icon button-clear" ng-click="closeReagendar()"><i class="icon ion-close"></i></button>
    </div>
    <h1 class="title">Reagendar clase</h1>
  </ion-header-bar>
  <ion-content>
      <div class="results__item" style="background-color: white;">
        <div class="results__user-avatar" ng-style="{'background-image': 'url(' + modalClase.avatar + ')'}"></div>

        <div class="results__user-info">
            <br />
            <p class="results__user-name" style="text-align:center;font-size: 20px;">{{ modalClase.profesor_name }}</p>
            <p class="results__user-university" style="text-align:center; font-size: 20px;">{{ modalClase.signature }}</p>
            <p class="results__user-university" style="text-align:center; font-size: 14px;">Reagendando clase del {{ $root.convertToDate(modalClase.dia) | date:'dd/MM/yyyy' }}</p>
        </div>
      </div>

      <div class="item item-divider">SELECCIONE UNA CLASE</div>

      <div class="card" ng-repeat="mm in movement">
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col-75">
              {{$root.convertToDate(mm.fecha) | date:'dd/MM/yyyy'}}<br />
              Desde las {{mm.inicio}} a las {{mm.fin}}
            </div>
            <div class="col-25 text-right">
              <button class="button button-small button-assertive" ng-click="reagendar_ok(modalClase, mm.id, mm.fecha);">Elegir</button>
            </div>
          </div>
        </div>
      </div>

  </ion-content>
</ion-modal-view>
