<ion-view view-title="RECHAZO WEBPAY">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <div class="homeclass__box history__box" >
        <div class="results__clean"><h4>Transacción rechazada<br />Orden {{trx}}</h4></div>

		<h5>Las posibles causas de este rechazo son:</h5>

		<ul style="margin-left: 50px">
			<li>Error en el ingreso de los datos de su tarjeta de crédito o Debito (fecha y/o código de seguridad).</li>
			<li>Su tarjeta de crédito o debito no cuenta con el cupo necesario para cancelar la compra.</li>
			<li>Tarjeta aún no habilitada en el sistema financiero. </li>
		</ul>

    </div>
  </ion-content>
</ion-view>
