<ion-view view-title="Agendar Clase">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <div class="homeclass__box schedule__box">
      <p class="schedule__title">Completa la  <strong>información requerida</strong></p>

      <div class="schedule__button-wrapper">
        <i ng-click="ctrl.nextDate()" class="icon ion-ios-arrow-right"></i>
        <i ng-click="ctrl.previousDate()" class="icon ion-ios-arrow-left"></i>

        <ion-slides class="schedule__slide-button" options="ctrl.options" slider="data.slider">
          <ion-slide-page>
            <span class="schedule__slide-date">Enero <strong>2017</strong></span>
          </ion-slide-page>
          <ion-slide-page>
            <span class="schedule__slide-date">Febrero <strong>2017</strong></span>
          </ion-slide-page>
          <ion-slide-page>
            <span class="schedule__slide-date">Marzo <strong>2017</strong></span>
          </ion-slide-page>
        </ion-slides>
      </div>

      <div class="homeclass-form__select-group schedule__select" ng-class="{'selected': ctrl.info.day}">
        <select class="homeclass-form__select" ng-model="ctrl.info.day">
          <option value="" disabled selected>Día</option>
          <option value="1">Prueba</option>
        </select>
        <i class="homeclass-form__select-chevron icon ion-ios-arrow-down"></i>
        <i class="schedule__checkmark icon ion-ios-checkmark-empty"></i>
      </div>

      <div class="homeclass-form__select-group schedule__select" ng-class="{'selected': ctrl.info.hour}">
        <select class="homeclass-form__select" ng-model="ctrl.info.hour">
          <option value="" disabled selected>Hora</option>
        </select>
        <i class="homeclass-form__select-chevron icon ion-ios-arrow-down"></i>
        <i class="schedule__checkmark icon ion-ios-checkmark-empty"></i>
      </div>

      <button class="homeclass__orange-full schedule__button">Agendar</button>

    </div>

  </ion-content>
</ion-view>
