  <ion-modal-view class="reagendar">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-icon button-clear" ng-click="closeOpenedProfile()"><i class="icon ion-close"></i></button>
    </div>
    <h1 class="title">VER PERIL</h1>
  </ion-header-bar>
  <ion-content>
      <div class="" style="background-color: white;">
        <br />
        <div class="results__user-avatar" style="position:relative;width: 160px; height: 160px; margin:auto;" ng-style="{'background-image': 'url(' + verPerfilModal.avatar + ')'}"></div>
        <br /><br />
        <div class="results__user-info text-center">
            <h4>{{ verPerfilModal.nombre }}</h4>
            <p>{{ verPerfilModal.especialidad }}<br />{{ verPerfilModal.universidad_name }}<br />
            Nació el {{$root.convertToDate(verPerfilModal.fecha_nacimiento) | date:'dd/MM/yyyy'}}<br /><strong>En Homeclass desde 
            {{$root.convertToDate(verPerfilModal.fecha_aceptacion) | date:'dd/MM/yyyy'}}
            </p>
            <br />
              <a ng-if="verPerfilModal.veremail > 0" style="color: #fba23b;border: 1px solid #fba23b;padding-left: 20px;padding-right: 20px;" href="mailto:{{verPerfilModal.email}}" class="button button-icon button-clear"><i class="icon ion-ios-email-outline"></i> email</a>
            <br />
        </div>

        <div class="bio-header">Acerca de mi</div>
        <div class="bio-in"><p ng-bind-html="verPerfilModal.bio"></p></div>

        <div class="bio-header">Intereses</div>
        <div class="bio-in"><p ng-bind-html="verPerfilModal.intereses"></p></div>

        <div class="bio-header">Comunas que asisto</div>
        <div class="bio-in"><p ng-bind-html="verPerfilModal.comunas"></p></div>

        <div class="bio-header">Asignaturas ofrecidas</div>
        <div class="bio-in"><p ng-bind-html="verPerfilModal.materias"></p></div>


      </div>

  </ion-content>
</ion-modal-view>
